In [1]:
import pandas as pd

In [5]:

jb=pd.read_csv(r"F:\4-1 Files\Udemy - Data Analysis with Pandas and Python\1. Installation and Setup\1.1 pandas.zip\jamesbond.csv")

In [18]:
jb.head(5)

,Film,Year,Director,Box Office,Budget,Bond Actor Salary
Actor,,,,,,
Sean Connery,Dr. No,1962,Terence Young,448.8,7.0,0.6
Sean Connery,From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Sean Connery,Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Sean Connery,Thunderball,1965,Terence Young,848.1,41.9,4.7
David Niven,Casino Royale,1967,Ken Hughes,315.0,85.0,NaN

In [14]:
jb.set_index("Actor",inplace=True)

In [12]:
jb.reset_index(drop = False,inplace=True)

In [19]:
jb.set_index("Year")

,Film,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,
1962,Dr. No,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Terence Young,848.1,41.9,4.7
1967,Casino Royale,Ken Hughes,315.0,85.0,NaN
1967,You Only Live Twice,Lewis Gilbert,514.2,59.9,4.4
1969,On Her Majesty's Secret Service,Peter R. Hunt,291.5,37.3,0.6
1971,Diamonds Are Forever,Guy Hamilton,442.5,34.7,5.8
1973,Live and Let Die,Guy Hamilton,460.3,30.8,NaN
1974,The Man with the Golden Gun,Guy Hamilton,334.0,27.7,NaN
1977,The Spy Who Loved Me,Lewis Gilbert,533.0,45.1,NaN
1979,Moonraker,Lewis Gilbert,535.0,91.5,NaN
1981,For Your Eyes Only,John Glen,449.4,60.2,NaN
1983,Never Say Never Again,Irvin Kershner,380.0,86.0,NaN
1983,Octopussy,John Glen,373.8,53.9,7.8
1985,A View to a Kill,John Glen,275.2,54.5,9.1
1987,The Living Daylights,John Glen,313.5,68.8,5.2
1989,Licence to Kill,John Glen,250.9,56.7,7.9
1995,GoldenEye,Martin Campbell,518.5,76.9,5.1
1997,Tomorrow Never Dies,Roger Spottiswoode,463.2,133.9,10.0
1999,The World Is Not Enough,Michael Apted,439.5,158.3,13.5
2002,Die Another Day,Lee Tamahori,465.4,154.2,17.9
2006,Casino Royale,Martin Campbell,581.5,145.3,3.3
2008,Quantum of Solace,Marc Forster,514.2,181.4,8.1
2012,Skyfall,Sam Mendes,943.5,170.2,14.5
2015,Spectre,Sam Mendes,726.7,206.3,NaN

In [24]:
jb.head()
jb.sort_index()

,Film,Year,Director,Box Office,Budget,Bond Actor Salary
Actor,,,,,,
Daniel Craig,Spectre,2015,Sam Mendes,726.7,206.3,NaN
Daniel Craig,Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Daniel Craig,Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Daniel Craig,Skyfall,2012,Sam Mendes,943.5,170.2,14.5
David Niven,Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
George Lazenby,On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Pierce Brosnan,Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Pierce Brosnan,The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Pierce Brosnan,Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
Pierce Brosnan,GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Roger Moore,A View to a Kill,1985,John Glen,275.2,54.5,9.1
Roger Moore,Octopussy,1983,John Glen,373.8,53.9,7.8
Roger Moore,For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
Roger Moore,The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
Roger Moore,The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
Roger Moore,Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Roger Moore,Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Sean Connery,Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Sean Connery,Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Sean Connery,You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4
Sean Connery,Thunderball,1965,Terence Young,848.1,41.9,4.7
Sean Connery,Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Sean Connery,From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Sean Connery,Dr. No,1962,Terence Young,448.8,7.0,0.6
Timothy Dalton,The Living Daylights,1987,John Glen,313.5,68.8,5.2
Timothy Dalton,Licence to Kill,1989,John Glen,250.9,56.7,7.9

In [7]:
st={4,1,2,3,4,1,1,}
st

{1, 2, 3, 4}

In [3]:
type(st)

set

In [33]:
jb.loc[["David Niven","Timothy Dalton","raghu"]]

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,Film,Year,Director,Box Office,Budget,Bond Actor Salary
Actor,,,,,,
David Niven,Casino Royale,1967.0,Ken Hughes,315.0,85.0,NaN
Timothy Dalton,The Living Daylights,1987.0,John Glen,313.5,68.8,5.2
Timothy Dalton,Licence to Kill,1989.0,John Glen,250.9,56.7,7.9
raghu,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
jb.reset_index(inplace=True)

In [38]:
jb.set_index("Film",inplace=True)

In [40]:
jb.sort_index(inplace=True)

In [41]:
jb.head()

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,465.4,154.2,17.9

In [44]:
jb.iloc[:5]

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,465.4,154.2,17.9

In [53]:
jb.ix[["GoldenEye","bond"]]

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,Pierce Brosnan,1995.0,Martin Campbell,518.5,76.9,5.1
bond,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
jb.ix[25:]
jb.ix[[16,11,1]]

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Quantum of Solace,Daniel Craig,2008,Marc Forster,514.2,181.4,8.1
Live and Let Die,Roger Moore,1973,Guy Hamilton,460.3,30.8,NaN
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3

In [66]:
jb.iloc[1,[2,5]]

Director             Martin Campbell
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object

In [65]:
jb.loc[:,"Actor":"Budget"]

,Actor,Year,Director,Box Office,Budget
Film,,,,,
A View to a Kill,Roger Moore,1985,John Glen,275.2,54.5
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0
Diamonds Are Forever,Sean Connery,1971,Guy Hamilton,442.5,34.7
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,465.4,154.2
Dr. No,Sean Connery,1962,Terence Young,448.8,7.0
For Your Eyes Only,Roger Moore,1981,John Glen,449.4,60.2
From Russia with Love,Sean Connery,1963,Terence Young,543.8,12.6
GoldenEye,Pierce Brosnan,1995,Martin Campbell,518.5,76.9
Goldfinger,Sean Connery,1964,Guy Hamilton,820.4,18.6
Licence to Kill,Timothy Dalton,1989,John Glen,250.9,56.7
Live and Let Die,Roger Moore,1973,Guy Hamilton,460.3,30.8
Moonraker,Roger Moore,1979,Lewis Gilbert,535.0,91.5
Never Say Never Again,Sean Connery,1983,Irvin Kershner,380.0,86.0
Octopussy,Roger Moore,1983,John Glen,373.8,53.9
On Her Majesty's Secret Service,George Lazenby,1969,Peter R. Hunt,291.5,37.3
Quantum of Solace,Daniel Craig,2008,Marc Forster,514.2,181.4
Skyfall,Daniel Craig,2012,Sam Mendes,943.5,170.2
Spectre,Daniel Craig,2015,Sam Mendes,726.7,206.3
The Living Daylights,Timothy Dalton,1987,John Glen,313.5,68.8
The Man with the Golden Gun,Roger Moore,1974,Guy Hamilton,334.0,27.7
The Spy Who Loved Me,Roger Moore,1977,Lewis Gilbert,533.0,45.1
The World Is Not Enough,Pierce Brosnan,1999,Michael Apted,439.5,158.3
Thunderball,Sean Connery,1965,Terence Young,848.1,41.9
Tomorrow Never Dies,Pierce Brosnan,1997,Roger Spottiswoode,463.2,133.9
You Only Live Twice,Sean Connery,1967,Lewis Gilbert,514.2,59.9

In [72]:
jb.ix[25,["Actor","Budegt"]]
jb.ix[5,0]

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

'Sean Connery'

In [78]:
jb.ix[2,5]=''
jb.ix[2,5]
jb.head(3)

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0,

In [88]:
mask=jb["Actor"]=='Sean Connery'

In [105]:
jb[mask]

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,Sir Sean COnnery,1971,Guy Hamilton,442.5,34.7,5.8
Dr. No,Sir Sean COnnery,1962,Terence Young,448.8,7.0,0.6
From Russia with Love,Sir Sean COnnery,1963,Terence Young,543.8,12.6,1.6
Goldfinger,Sir Sean COnnery,1964,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,Sir Sean COnnery,1983,Irvin Kershner,380.0,86.0,NaN
Thunderball,Sir Sean COnnery,1965,Terence Young,848.1,41.9,4.7
You Only Live Twice,Sir Sean COnnery,1967,Lewis Gilbert,514.2,59.9,4.4

In [94]:
rd["Actor"]='Sir Sean Connery'

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
jb[mask]["Actor"]=rd["Actor"]

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [101]:
jb.ix[mask,"Actor"]='Sir Sean COnnery'

G:\Program_Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [104]:
jb.head(10)

,Actor,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0,
Diamonds Are Forever,Sir Sean COnnery,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,Sir Sean COnnery,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,1981,John Glen,449.4,60.2,NaN
From Russia with Love,Sir Sean COnnery,1963,Terence Young,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,Sir Sean COnnery,1964,Guy Hamilton,820.4,18.6,3.2

In [115]:
jb.rename(index={"A View to a Kill":"AVK"},columns={"Year":"Release Year"})

,Actor,Release Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
AVK,Roger Moore,1985,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,1967,Ken Hughes,315.0,85.0,
Diamonds Are Forever,Sir Sean COnnery,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,Sir Sean COnnery,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,1981,John Glen,449.4,60.2,NaN
From Russia with Love,Sir Sean COnnery,1963,Terence Young,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,Sir Sean COnnery,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,Timothy Dalton,1989,John Glen,250.9,56.7,7.9
Live and Let Die,Roger Moore,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,Roger Moore,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Sir Sean COnnery,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,Roger Moore,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,George Lazenby,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Daniel Craig,2008,Marc Forster,514.2,181.4,8.1
Skyfall,Daniel Craig,2012,Sam Mendes,943.5,170.2,14.5
Spectre,Daniel Craig,2015,Sam Mendes,726.7,206.3,NaN
The Living Daylights,Timothy Dalton,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Roger Moore,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Roger Moore,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Pierce Brosnan,1999,Michael Apted,439.5,158.3,13.5
Thunderball,Sir Sean COnnery,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Pierce Brosnan,1997,Roger Spottiswoode,463.2,133.9,10
You Only Live Twice,Sir Sean COnnery,1967,Lewis Gilbert,514.2,59.9,4.4

In [118]:
jb.drop("Spectre")
jb.drop(["Actor","Budget"],axis=1)

,Year,Director,Box Office,Bond Actor Salary
Film,,,,
A View to a Kill,1985,John Glen,275.2,9.1
Casino Royale,2006,Martin Campbell,581.5,3.3
Casino Royale,1967,Ken Hughes,315.0,
Diamonds Are Forever,1971,Guy Hamilton,442.5,5.8
Die Another Day,2002,Lee Tamahori,465.4,17.9
Dr. No,1962,Terence Young,448.8,0.6
For Your Eyes Only,1981,John Glen,449.4,NaN
From Russia with Love,1963,Terence Young,543.8,1.6
GoldenEye,1995,Martin Campbell,518.5,5.1
Goldfinger,1964,Guy Hamilton,820.4,3.2
Licence to Kill,1989,John Glen,250.9,7.9
Live and Let Die,1973,Guy Hamilton,460.3,NaN
Moonraker,1979,Lewis Gilbert,535.0,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,NaN
Octopussy,1983,John Glen,373.8,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,0.6
Quantum of Solace,2008,Marc Forster,514.2,8.1
Skyfall,2012,Sam Mendes,943.5,14.5
Spectre,2015,Sam Mendes,726.7,NaN
The Living Daylights,1987,John Glen,313.5,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,NaN
The World Is Not Enough,1999,Michael Apted,439.5,13.5
Thunderball,1965,Terence Young,848.1,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,10
You Only Live Twice,1967,Lewis Gilbert,514.2,4.4

In [120]:
Revenue=jb.pop("Budget")

In [122]:
jb["Revenue"]=Revenue

In [130]:
jb.head(9)

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,54.5,275.2,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,145.3,581.5,3.3
Casino Royale,David Niven,1967,Ken Hughes,85.0,315.0,
Diamonds Are Forever,Sir Sean COnnery,1971,Guy Hamilton,34.7,442.5,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,154.2,465.4,17.9
Dr. No,Sir Sean COnnery,1962,Terence Young,7.0,448.8,0.6
For Your Eyes Only,Roger Moore,1981,John Glen,60.2,449.4,NaN
From Russia with Love,Sir Sean COnnery,1963,Terence Young,12.6,543.8,1.6
GoldenEye,Pierce Brosnan,1995,Martin Campbell,76.9,518.5,5.1

In [124]:
jb.insert(3,"Budget",Revenue)

In [127]:
jb.drop("Revenue",axis=1,inplace=True)

In [144]:
jb.sample(1,axis=1)

                                           Director
Film
A View to a Kill                          John Glen
Casino Royale                       Martin Campbell
Casino Royale                            Ken Hughes
Diamonds Are Forever                   Guy Hamilton
Die Another Day                        Lee Tamahori
Dr. No                                Terence Young
For Your Eyes Only                        John Glen
From Russia with Love                 Terence Young
GoldenEye                           Martin Campbell
Goldfinger                             Guy Hamilton
Licence to Kill                           John Glen
Live and Let Die                       Guy Hamilton
Moonraker                             Lewis Gilbert
Never Say Never Again                Irvin Kershner
Octopussy                                 John Glen
On Her Majesty's Secret Service       Peter R. Hunt
Quantum of Solace                      Marc Forster
Skyfall                                  Sam Mendes
Spectre                                  Sam Mendes
The Living Daylights                      John Glen
The Man with the Golden Gun            Guy Hamilton
The Spy Who Loved Me                  Lewis Gilbert
The World Is Not Enough               Michael Apted
Thunderball                           Terence Young
Tomorrow Never Dies              Roger Spottiswoode
You Only Live Twice                   Lewis Gilbert

In [150]:
jb.nlargest(3,"Box Office")
jb.nsmallest(3,"Box Office")

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
Licence to Kill,Timothy Dalton,1989,John Glen,56.7,250.9,7.9
A View to a Kill,Roger Moore,1985,John Glen,54.5,275.2,9.1
On Her Majesty's Secret Service,George Lazenby,1969,Peter R. Hunt,37.3,291.5,0.6

In [157]:
jb.where(mask)

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,Timothy Dalton,1989.0,John Glen,56.7,250.9,7.9
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
mask=jb["Year"]==1989

In [159]:
jb.query('Year>1950')

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,54.5,275.2,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,145.3,581.5,3.3
Casino Royale,David Niven,1967,Ken Hughes,85.0,315.0,
Diamonds Are Forever,Sir Sean COnnery,1971,Guy Hamilton,34.7,442.5,5.8
Die Another Day,Pierce Brosnan,2002,Lee Tamahori,154.2,465.4,17.9
Dr. No,Sir Sean COnnery,1962,Terence Young,7.0,448.8,0.6
For Your Eyes Only,Roger Moore,1981,John Glen,60.2,449.4,NaN
From Russia with Love,Sir Sean COnnery,1963,Terence Young,12.6,543.8,1.6
GoldenEye,Pierce Brosnan,1995,Martin Campbell,76.9,518.5,5.1
Goldfinger,Sir Sean COnnery,1964,Guy Hamilton,18.6,820.4,3.2
Licence to Kill,Timothy Dalton,1989,John Glen,56.7,250.9,7.9
Live and Let Die,Roger Moore,1973,Guy Hamilton,30.8,460.3,NaN
Moonraker,Roger Moore,1979,Lewis Gilbert,91.5,535.0,NaN
Never Say Never Again,Sir Sean COnnery,1983,Irvin Kershner,86.0,380.0,NaN
Octopussy,Roger Moore,1983,John Glen,53.9,373.8,7.8
On Her Majesty's Secret Service,George Lazenby,1969,Peter R. Hunt,37.3,291.5,0.6
Quantum of Solace,Daniel Craig,2008,Marc Forster,181.4,514.2,8.1
Skyfall,Daniel Craig,2012,Sam Mendes,170.2,943.5,14.5
Spectre,Daniel Craig,2015,Sam Mendes,206.3,726.7,NaN
The Living Daylights,Timothy Dalton,1987,John Glen,68.8,313.5,5.2
The Man with the Golden Gun,Roger Moore,1974,Guy Hamilton,27.7,334.0,NaN
The Spy Who Loved Me,Roger Moore,1977,Lewis Gilbert,45.1,533.0,NaN
The World Is Not Enough,Pierce Brosnan,1999,Michael Apted,158.3,439.5,13.5
Thunderball,Sir Sean COnnery,1965,Terence Young,41.9,848.1,4.7
Tomorrow Never Dies,Pierce Brosnan,1997,Roger Spottiswoode,133.9,463.2,10
You Only Live Twice,Sir Sean COnnery,1967,Lewis Gilbert,59.9,514.2,4.4

In [161]:
def convert_to_string(number):
    return str(number) + 'millions'

jb["Budget"]=jb["Budget"].apply(convert_to_string)

In [162]:
jb.head(3)

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,54.5millions,275.2,9.1
Casino Royale,Daniel Craig,2006,Martin Campbell,145.3millions,581.5,3.3
Casino Royale,David Niven,1967,Ken Hughes,85.0millions,315.0,

In [165]:
columns=["Box Office", "Bond Actor Salary"]

for i in columns:
    jb[i]=jb[i].apply(convert_to_string)

In [172]:
jb.head(3)

,Actor,Year,Director,Budget,Box Office,Bond Actor Salary
Film,,,,,,
A View to a Kill,Roger Moore,1985,John Glen,54.5millions,275.2millions,9.1millions
Casino Royale,Daniel Craig,2006,Martin Campbell,145.3millions,581.5millions,3.3millions
Casino Royale,David Niven,1967,Ken Hughes,85.0millions,315.0millions,millions

In [168]:
release_date=jb["Year"].copy()

In [171]:
release_date.head(3)

Film
A View to a Kill    1986
Casino Royale       2006
Casino Royale       1967
Name: Year, dtype: int64

In [170]:
release_date["A View to a Kill"]=1986