In [2]:
import pandas as pd

In [39]:
b=pd.read_csv("../Downloads/Player.csv", usecols = ["Country"], squeeze = True)
b
c=pd.read_csv("../Downloads/Player.csv", usecols = ["Player_Id"], squeeze = True)
c

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
493    494
494    495
495    496
496    497
497    498
498    499
499    500
500    501
501    502
502    503
503    504
504    505
505    506
506    507
507    508
508    509
509    510
510    511
511    512
512    513
513    514
514    515
515    516
516    517
517    518
518    519
519    520
520    521
521    523
522    524
Name: Player_Id, Length: 523, dtype: int64

In [3]:
a=10
b=20
print b

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(b)? (<ipython-input-3-4fe70e551ab4>, line 3)

In [4]:
a=10
b=20
print 'b'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('b')? (<ipython-input-4-15b95e36af99>, line 3)

In [5]:
a=10
b=20
print (b)

20

In [6]:
a=10
b=20
print (b,a)

20 10

In [7]:
a=10
b=20
print (b,a)
a=a+b
b=a-b
a=a-b
print (a,b)

20 10
20 10

In [8]:
a=10
b=20
print (a,b)
a=a+b
b=a-b
a=a-b
print (a,b)

10 20
20 10

In [1]:
import pandas as pd

In [10]:
dir(pandas)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [11]:
length(dir(pandas))

NameError: name 'length' is not defined

In [12]:
len(dir(pandas))

140

In [13]:
pandas.read_csv(C:\Users\welcome\Downloads\player.csv)

SyntaxError: invalid syntax (<ipython-input-13-fb631ee0c56c>, line 1)

In [14]:
pandas.read_csv("..\Downloads\Player.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-14-15e6313a9c5f>, line 1)

In [15]:
pandas.read_csv("..\Downloads\Player.csv")

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,5-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
8,9,JH Kallis,16-Oct-75,Right_Hand,Right-arm fast-medium,South Africa,0,NaN
9,10,CL White,18-Aug-83,Right_Hand,Legbreak googly,Australia,0,NaN
10,11,MV Boucher,3-Dec-76,Right_Hand,Right-arm medium,South Africa,0,NaN
11,12,B Akhil,7-Oct-77,Right_Hand,Right-arm medium-fast,India,0,NaN
12,13,AA Noffke,30-Apr-77,Right_Hand,Right-arm fast-medium,Australia,0,NaN
13,14,P Kumar,2-Oct-86,Right_Hand,Right-arm medium,India,0,NaN
14,15,Z Khan,7-Oct-78,Right_Hand,Left-arm fast-medium,India,0,NaN
15,16,SB Joshi,6-Jun-70,Left_Hand,Slow left-arm orthodox,India,0,NaN
16,17,PA Patel,9-Mar-85,Left_Hand,NaN,India,0,NaN
17,18,ML Hayden,29-Oct-71,Left_Hand,Right-arm medium,Australia,0,NaN
18,19,MEK Hussey,27-May-75,Left_Hand,Right-arm medium,Australia,0,NaN
19,20,MS Dhoni,7-Jul-81,Right_Hand,Right-arm medium,India,0,NaN
20,21,SK Raina,27-Nov-86,Left_Hand,Right-arm offbreak,India,0,NaN
21,22,JDP Oram,28-Jul-78,Left_Hand,Right-arm fast-medium,New Zealand,0,NaN
22,23,S Badrinath,30-Aug-80,Right_Hand,Right-arm offbreak,India,0,NaN
23,24,K Goel,24-Dec-86,Left_Hand,Right-arm offbreak,India,0,NaN
24,25,JR Hopes,24-Oct-78,Right_Hand,Right-arm medium,Australia,0,NaN
25,26,KC Sangakkara,27-Oct-77,Left_Hand,Right-arm offbreak,Sri Lanka,0,NaN
26,27,Yuvraj Singh,12-Dec-81,Left_Hand,Slow left-arm orthodox,India,0,NaN
27,28,SM Katich,21-Aug-75,Left_Hand,Slow left-arm chinaman,Australia,0,NaN
28,29,IK Pathan,27-Oct-84,Left_Hand,Left-arm medium-fast,India,0,NaN
29,30,T Kohli,17-Dec-88,Right_Hand,Right-arm medium,India,0,NaN
...,...,...,...,...,...,...,...,...
493,494,JD Cloete,NaN,NaN,NaN,South Africa,1,NaN
494,495,AK Chaudhary,NaN,NaN,NaN,India,1,NaN
495,496,VA Kulkarni,NaN,NaN,NaN,India,1,NaN
496,497,BNJ Oxenford,NaN,NaN,NaN,Australia,1,NaN
497,498,CK Nandan,NaN,NaN,NaN,India,1,NaN
498,499,C Shamshuddin,NaN,NaN,NaN,India,1,NaN
499,500,NJ Llong,NaN,NaN,NaN,England,1,NaN
500,501,RK Illingworth,NaN,NaN,NaN,England,1,NaN
501,502,RM Deshpande,NaN,NaN,NaN,India,1,NaN
502,503,K Srinath,NaN,NaN,NaN,India,1,NaN
503,504,SD Fry,NaN,NaN,NaN,Australia,1,NaN
504,505,CB Gaffaney,NaN,NaN,NaN,New Zealand,1,NaN
505,506,PG Pathak,NaN,NaN,NaN,India,1,NaN
506,507,Nitin Menon,NaN,NaN,NaN,India,1,NaN
507,508,K Bharatan,NaN,NaN,NaN,India,1,NaN
508,509,AY Dandekar,NaN,NaN,NaN,India,1,NaN
509,510,KN Ananthapadmanabhan,NaN,NaN,NaN,India,1,NaN
510,511,A Nand Kishore,NaN,NaN,NaN,India,1,NaN
511,512,GA Pratapkumar,NaN,NaN,NaN,India,1,NaN
512,513,RB Tiffin,NaN,NaN,NaN,Zimbabwea,1,NaN
513,514,I Shivram,NaN,NaN,NaN,India,1,NaN
514,515,SD Ranade,NaN,NaN,NaN,India,1,NaN
515,516,TH Wijewardene,NaN,NaN,NaN,Sri Lanka,1,NaN
516,517,AL Hill,NaN,NaN,NaN,New Zealand,1,NaN
517,518,RJ Tucker,NaN,NaN,NaN,Australia,1,NaN
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [3]:
a=pandas.read_csv("http://localhost:8888/edit/Downloads/Player.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 12, saw 2

In [17]:
print (a)

     Player_Id            Player_Name        DOB Batting_Hand  \
0            1             SC Ganguly   8-Jul-72    Left_Hand
1            2            BB McCullum  27-Sep-81   Right_Hand
2            3             RT Ponting  19-Dec-74   Right_Hand
3            4              DJ Hussey  15-Jul-77   Right_Hand
4            5        Mohammad Hafeez  17-Oct-80   Right_Hand
5            6               R Dravid  11-Jan-73   Right_Hand
6            7               W Jaffer  16-Feb-78   Right_Hand
7            8                V Kohli   5-Nov-88   Right_Hand
8            9              JH Kallis  16-Oct-75   Right_Hand
9           10               CL White  18-Aug-83   Right_Hand
10          11             MV Boucher   3-Dec-76   Right_Hand
11          12                B Akhil   7-Oct-77   Right_Hand
12          13              AA Noffke  30-Apr-77   Right_Hand
13          14                P Kumar   2-Oct-86   Right_Hand
14          15                 Z Khan   7-Oct-78   Right_Hand
15          16               SB Joshi   6-Jun-70    Left_Hand
16          17               PA Patel   9-Mar-85    Left_Hand
17          18              ML Hayden  29-Oct-71    Left_Hand
18          19             MEK Hussey  27-May-75    Left_Hand
19          20               MS Dhoni   7-Jul-81   Right_Hand
20          21               SK Raina  27-Nov-86    Left_Hand
21          22               JDP Oram  28-Jul-78    Left_Hand
22          23            S Badrinath  30-Aug-80   Right_Hand
23          24                 K Goel  24-Dec-86    Left_Hand
24          25               JR Hopes  24-Oct-78   Right_Hand
25          26          KC Sangakkara  27-Oct-77    Left_Hand
26          27           Yuvraj Singh  12-Dec-81    Left_Hand
27          28              SM Katich  21-Aug-75    Left_Hand
28          29              IK Pathan  27-Oct-84    Left_Hand
29          30                T Kohli  17-Dec-88   Right_Hand
..         ...                    ...        ...          ...
493        494              JD Cloete        NaN          NaN
494        495           AK Chaudhary        NaN          NaN
495        496            VA Kulkarni        NaN          NaN
496        497           BNJ Oxenford        NaN          NaN
497        498              CK Nandan        NaN          NaN
498        499          C Shamshuddin        NaN          NaN
499        500               NJ Llong        NaN          NaN
500        501         RK Illingworth        NaN          NaN
501        502           RM Deshpande        NaN          NaN
502        503              K Srinath        NaN          NaN
503        504                 SD Fry        NaN          NaN
504        505            CB Gaffaney        NaN          NaN
505        506              PG Pathak        NaN          NaN
506        507            Nitin Menon        NaN          NaN
507        508             K Bharatan        NaN          NaN
508        509            AY Dandekar        NaN          NaN
509        510  KN Ananthapadmanabhan        NaN          NaN
510        511         A Nand Kishore        NaN          NaN
511        512         GA Pratapkumar        NaN          NaN
512        513              RB Tiffin        NaN          NaN
513        514              I Shivram        NaN          NaN
514        515              SD Ranade        NaN          NaN
515        516         TH Wijewardene        NaN          NaN
516        517                AL Hill        NaN          NaN
517        518              RJ Tucker        NaN          NaN
518        519            Subroto Das        NaN          NaN
519        520           K Srinivasan        NaN          NaN
520        521              VK Sharma        NaN          NaN
521        523            AV Wankhade  14-Mar-92   Right_Hand
522        524            B Aparajith   8-Jul-94   Right_Hand

              Bowling_Skill       Country  Is_Umpire  Unnamed: 7
0          Right-arm medium         India          0         NaN
1          Right-arm medium   New Zealand          0         NaN
2          Right-arm medium     Australia          0         NaN
3        Right-arm offbreak     Australia          0         NaN
4        Right-arm offbreak      Pakistan          0         NaN
5        Right-arm offbreak         India          0         NaN
6        Right-arm offbreak         India          0         NaN
7          Right-arm medium         India          0         NaN
8     Right-arm fast-medium  South Africa          0         NaN
9           Legbreak googly     Australia          0         NaN
10         Right-arm medium  South Africa          0         NaN
11    Right-arm medium-fast         India          0         NaN
12    Right-arm fast-medium     Australia          0         NaN
13         Right-arm medium         India          0         NaN
14     Left-arm fast-medium         India          0         NaN
15   Slow left-arm orthodox         India          0         NaN
16                      NaN         India          0         NaN
17         Right-arm medium     Australia          0         NaN
18         Right-arm medium     Australia          0         NaN
19         Right-arm medium         India          0         NaN
20       Right-arm offbreak         India          0         NaN
21    Right-arm fast-medium   New Zealand          0         NaN
22       Right-arm offbreak         India          0         NaN
23       Right-arm offbreak         India          0         NaN
24         Right-arm medium     Australia          0         NaN
25       Right-arm offbreak     Sri Lanka          0         NaN
26   Slow left-arm orthodox         India          0         NaN
27   Slow left-arm chinaman     Australia          0         NaN
28     Left-arm medium-fast         India          0         NaN
29         Right-arm medium         India          0         NaN
..                      ...           ...        ...         ...
493                     NaN  South Africa          1         NaN
494                     NaN         India          1         NaN
495                     NaN         India          1         NaN
496                     NaN     Australia          1         NaN
497                     NaN         India          1         NaN
498                     NaN         India          1         NaN
499                     NaN       England          1         NaN
500                     NaN       England          1         NaN
501                     NaN         India          1         NaN
502                     NaN         India          1         NaN
503                     NaN     Australia          1         NaN
504                     NaN   New Zealand          1         NaN
505                     NaN         India          1         NaN
506                     NaN         India          1         NaN
507                     NaN         India          1         NaN
508                     NaN         India          1         NaN
509                     NaN         India          1         NaN
510                     NaN         India          1         NaN
511                     NaN         India          1         NaN
512                     NaN     Zimbabwea          1         NaN
513                     NaN         India          1         NaN
514                     NaN         India          1         NaN
515                     NaN     Sri Lanka          1         NaN
516                     NaN   New Zealand          1         NaN
517                     NaN     Australia          1         NaN
518                     NaN         India          1         NaN
519                     NaN         India          1         NaN
520                     NaN         India          1         NaN
521                     NaN         India          0         NaN
522      Right-arm offbreak         India          0         NaN

[523 rows x 8 columns]

In [19]:
a.columns

Index(['Player_Id', 'Player_Name', 'DOB', 'Batting_Hand', 'Bowling_Skill',
       'Country', 'Is_Umpire', 'Unnamed: 7'],
      dtype='object')

In [13]:
player=pd.read_csv("../Downloads/Player.csv")

In [6]:
a

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,5-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
8,9,JH Kallis,16-Oct-75,Right_Hand,Right-arm fast-medium,South Africa,0,NaN
9,10,CL White,18-Aug-83,Right_Hand,Legbreak googly,Australia,0,NaN
10,11,MV Boucher,3-Dec-76,Right_Hand,Right-arm medium,South Africa,0,NaN
11,12,B Akhil,7-Oct-77,Right_Hand,Right-arm medium-fast,India,0,NaN
12,13,AA Noffke,30-Apr-77,Right_Hand,Right-arm fast-medium,Australia,0,NaN
13,14,P Kumar,2-Oct-86,Right_Hand,Right-arm medium,India,0,NaN
14,15,Z Khan,7-Oct-78,Right_Hand,Left-arm fast-medium,India,0,NaN
15,16,SB Joshi,6-Jun-70,Left_Hand,Slow left-arm orthodox,India,0,NaN
16,17,PA Patel,9-Mar-85,Left_Hand,NaN,India,0,NaN
17,18,ML Hayden,29-Oct-71,Left_Hand,Right-arm medium,Australia,0,NaN
18,19,MEK Hussey,27-May-75,Left_Hand,Right-arm medium,Australia,0,NaN
19,20,MS Dhoni,7-Jul-81,Right_Hand,Right-arm medium,India,0,NaN
20,21,SK Raina,27-Nov-86,Left_Hand,Right-arm offbreak,India,0,NaN
21,22,JDP Oram,28-Jul-78,Left_Hand,Right-arm fast-medium,New Zealand,0,NaN
22,23,S Badrinath,30-Aug-80,Right_Hand,Right-arm offbreak,India,0,NaN
23,24,K Goel,24-Dec-86,Left_Hand,Right-arm offbreak,India,0,NaN
24,25,JR Hopes,24-Oct-78,Right_Hand,Right-arm medium,Australia,0,NaN
25,26,KC Sangakkara,27-Oct-77,Left_Hand,Right-arm offbreak,Sri Lanka,0,NaN
26,27,Yuvraj Singh,12-Dec-81,Left_Hand,Slow left-arm orthodox,India,0,NaN
27,28,SM Katich,21-Aug-75,Left_Hand,Slow left-arm chinaman,Australia,0,NaN
28,29,IK Pathan,27-Oct-84,Left_Hand,Left-arm medium-fast,India,0,NaN
29,30,T Kohli,17-Dec-88,Right_Hand,Right-arm medium,India,0,NaN
...,...,...,...,...,...,...,...,...
493,494,JD Cloete,NaN,NaN,NaN,South Africa,1,NaN
494,495,AK Chaudhary,NaN,NaN,NaN,India,1,NaN
495,496,VA Kulkarni,NaN,NaN,NaN,India,1,NaN
496,497,BNJ Oxenford,NaN,NaN,NaN,Australia,1,NaN
497,498,CK Nandan,NaN,NaN,NaN,India,1,NaN
498,499,C Shamshuddin,NaN,NaN,NaN,India,1,NaN
499,500,NJ Llong,NaN,NaN,NaN,England,1,NaN
500,501,RK Illingworth,NaN,NaN,NaN,England,1,NaN
501,502,RM Deshpande,NaN,NaN,NaN,India,1,NaN
502,503,K Srinath,NaN,NaN,NaN,India,1,NaN
503,504,SD Fry,NaN,NaN,NaN,Australia,1,NaN
504,505,CB Gaffaney,NaN,NaN,NaN,New Zealand,1,NaN
505,506,PG Pathak,NaN,NaN,NaN,India,1,NaN
506,507,Nitin Menon,NaN,NaN,NaN,India,1,NaN
507,508,K Bharatan,NaN,NaN,NaN,India,1,NaN
508,509,AY Dandekar,NaN,NaN,NaN,India,1,NaN
509,510,KN Ananthapadmanabhan,NaN,NaN,NaN,India,1,NaN
510,511,A Nand Kishore,NaN,NaN,NaN,India,1,NaN
511,512,GA Pratapkumar,NaN,NaN,NaN,India,1,NaN
512,513,RB Tiffin,NaN,NaN,NaN,Zimbabwea,1,NaN
513,514,I Shivram,NaN,NaN,NaN,India,1,NaN
514,515,SD Ranade,NaN,NaN,NaN,India,1,NaN
515,516,TH Wijewardene,NaN,NaN,NaN,Sri Lanka,1,NaN
516,517,AL Hill,NaN,NaN,NaN,New Zealand,1,NaN
517,518,RJ Tucker,NaN,NaN,NaN,Australia,1,NaN
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [54]:
player=pd.read_csv("../Downloads/Player.csv")
player.head(3)

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN

In [6]:
a.columns

Index(['Player_Id', 'Player_Name', 'DOB', 'Batting_Hand', 'Bowling_Skill',
       'Country', 'Is_Umpire', 'Unnamed: 7'],
      dtype='object')

In [ ]:
pd.read_csv()

In [33]:
a=pd.read_csv("../Downloads/Player.csv", usecols = ["Player_Id"], squeeze = True)
b=pd.read_csv("../Downloads/Player.csv", usecols=["Country"],squeeze = True)

In [34]:
a.sum()
b

0             India
1       New Zealand
2         Australia
3         Australia
4          Pakistan
5             India
6             India
7             India
8      South Africa
9         Australia
10     South Africa
11            India
12        Australia
13            India
14            India
15            India
16            India
17        Australia
18        Australia
19            India
20            India
21      New Zealand
22            India
23            India
24        Australia
25        Sri Lanka
26            India
27        Australia
28            India
29            India
           ...
493    South Africa
494           India
495           India
496       Australia
497           India
498           India
499         England
500         England
501           India
502           India
503       Australia
504     New Zealand
505           India
506           India
507           India
508           India
509           India
510           India
511           India
512       Zimbabwea
513           India
514           India
515       Sri Lanka
516     New Zealand
517       Australia
518           India
519           India
520           India
521           India
522           India
Name: Country, Length: 523, dtype: object

In [18]:
a.mode()
a.mean()
a.median()

262.0038240917782

In [25]:
a[a.idxmax()]

524

In [10]:
a.describe()

count    523.000000
mean     262.003824
std      151.127981
min        1.000000
25%      131.500000
50%      262.000000
75%      392.500000
max      524.000000
Name: Player_Id, dtype: float64

In [35]:
a

2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
30      31
31      32
      ...
493    494
494    495
495    496
496    497
497    498
498    499
499    500
500    501
501    502
502    503
503    504
504    505
505    506
506    507
507    508
508    509
509    510
510    511
511    512
512    513
513    514
514    515
515    516
516    517
517    518
518    519
519    520
520    521
521    523
522    524
Name: Player_Id, Length: 521, dtype: int64

In [27]:
a.product()

0

In [28]:
a.mean()

262.5038314176245

In [39]:
a.mul()

TypeError: flex_wrapper() missing 1 required positional argument: 'other'

In [41]:
a.dtype

dtype('int64')

In [42]:
a=a.astype (float)

In [43]:
a.dtype

dtype('float64')

In [44]:
a.product()

inf

In [45]:
b=pd.Series(range(1,11))

In [46]:
b

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [47]:
b.product()

3628800

3628800

In [27]:
fruits =['orange','apple','pineapple','custard apple','apple','orange']

In [30]:
type(fruits)

list

In [3]:
weekdays=['mon','tues','wed','thurs']

In [6]:
pd.fruits

AttributeError: module 'pandas' has no attribute 'fruits'

In [5]:
import pandas as pd

In [7]:
pd.Series(fruits,weekdays)

mon             orange
tues             apple
wed          pineapple
thurs    custard apple
dtype: object

In [26]:
a=pd.read_csv("Player.csv")

FileNotFoundError: File b'Player.csv' does not exist

In [7]:
a

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,5-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
8,9,JH Kallis,16-Oct-75,Right_Hand,Right-arm fast-medium,South Africa,0,NaN
9,10,CL White,18-Aug-83,Right_Hand,Legbreak googly,Australia,0,NaN
10,11,MV Boucher,3-Dec-76,Right_Hand,Right-arm medium,South Africa,0,NaN
11,12,B Akhil,7-Oct-77,Right_Hand,Right-arm medium-fast,India,0,NaN
12,13,AA Noffke,30-Apr-77,Right_Hand,Right-arm fast-medium,Australia,0,NaN
13,14,P Kumar,2-Oct-86,Right_Hand,Right-arm medium,India,0,NaN
14,15,Z Khan,7-Oct-78,Right_Hand,Left-arm fast-medium,India,0,NaN
15,16,SB Joshi,6-Jun-70,Left_Hand,Slow left-arm orthodox,India,0,NaN
16,17,PA Patel,9-Mar-85,Left_Hand,NaN,India,0,NaN
17,18,ML Hayden,29-Oct-71,Left_Hand,Right-arm medium,Australia,0,NaN
18,19,MEK Hussey,27-May-75,Left_Hand,Right-arm medium,Australia,0,NaN
19,20,MS Dhoni,7-Jul-81,Right_Hand,Right-arm medium,India,0,NaN
20,21,SK Raina,27-Nov-86,Left_Hand,Right-arm offbreak,India,0,NaN
21,22,JDP Oram,28-Jul-78,Left_Hand,Right-arm fast-medium,New Zealand,0,NaN
22,23,S Badrinath,30-Aug-80,Right_Hand,Right-arm offbreak,India,0,NaN
23,24,K Goel,24-Dec-86,Left_Hand,Right-arm offbreak,India,0,NaN
24,25,JR Hopes,24-Oct-78,Right_Hand,Right-arm medium,Australia,0,NaN
25,26,KC Sangakkara,27-Oct-77,Left_Hand,Right-arm offbreak,Sri Lanka,0,NaN
26,27,Yuvraj Singh,12-Dec-81,Left_Hand,Slow left-arm orthodox,India,0,NaN
27,28,SM Katich,21-Aug-75,Left_Hand,Slow left-arm chinaman,Australia,0,NaN
28,29,IK Pathan,27-Oct-84,Left_Hand,Left-arm medium-fast,India,0,NaN
29,30,T Kohli,17-Dec-88,Right_Hand,Right-arm medium,India,0,NaN
...,...,...,...,...,...,...,...,...
493,494,JD Cloete,NaN,NaN,NaN,South Africa,1,NaN
494,495,AK Chaudhary,NaN,NaN,NaN,India,1,NaN
495,496,VA Kulkarni,NaN,NaN,NaN,India,1,NaN
496,497,BNJ Oxenford,NaN,NaN,NaN,Australia,1,NaN
497,498,CK Nandan,NaN,NaN,NaN,India,1,NaN
498,499,C Shamshuddin,NaN,NaN,NaN,India,1,NaN
499,500,NJ Llong,NaN,NaN,NaN,England,1,NaN
500,501,RK Illingworth,NaN,NaN,NaN,England,1,NaN
501,502,RM Deshpande,NaN,NaN,NaN,India,1,NaN
502,503,K Srinath,NaN,NaN,NaN,India,1,NaN
503,504,SD Fry,NaN,NaN,NaN,Australia,1,NaN
504,505,CB Gaffaney,NaN,NaN,NaN,New Zealand,1,NaN
505,506,PG Pathak,NaN,NaN,NaN,India,1,NaN
506,507,Nitin Menon,NaN,NaN,NaN,India,1,NaN
507,508,K Bharatan,NaN,NaN,NaN,India,1,NaN
508,509,AY Dandekar,NaN,NaN,NaN,India,1,NaN
509,510,KN Ananthapadmanabhan,NaN,NaN,NaN,India,1,NaN
510,511,A Nand Kishore,NaN,NaN,NaN,India,1,NaN
511,512,GA Pratapkumar,NaN,NaN,NaN,India,1,NaN
512,513,RB Tiffin,NaN,NaN,NaN,Zimbabwea,1,NaN
513,514,I Shivram,NaN,NaN,NaN,India,1,NaN
514,515,SD Ranade,NaN,NaN,NaN,India,1,NaN
515,516,TH Wijewardene,NaN,NaN,NaN,Sri Lanka,1,NaN
516,517,AL Hill,NaN,NaN,NaN,New Zealand,1,NaN
517,518,RJ Tucker,NaN,NaN,NaN,Australia,1,NaN
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [ ]:
a.tail(10)

In [11]:
a.head(3)

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN

In [12]:
dir(a)

['Batting_Hand',
 'Bowling_Skill',
 'Country',
 'DOB',
 'Is_Umpire',
 'Player_Id',
 'Player_Name',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [13]:
sorted(a)

['Batting_Hand',
 'Bowling_Skill',
 'Country',
 'DOB',
 'Is_Umpire',
 'Player_Id',
 'Player_Name',
 'Unnamed: 7']

In [17]:
sorted(a.Player_Id)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 523,
 524]

In [15]:
a

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,5-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
8,9,JH Kallis,16-Oct-75,Right_Hand,Right-arm fast-medium,South Africa,0,NaN
9,10,CL White,18-Aug-83,Right_Hand,Legbreak googly,Australia,0,NaN
10,11,MV Boucher,3-Dec-76,Right_Hand,Right-arm medium,South Africa,0,NaN
11,12,B Akhil,7-Oct-77,Right_Hand,Right-arm medium-fast,India,0,NaN
12,13,AA Noffke,30-Apr-77,Right_Hand,Right-arm fast-medium,Australia,0,NaN
13,14,P Kumar,2-Oct-86,Right_Hand,Right-arm medium,India,0,NaN
14,15,Z Khan,7-Oct-78,Right_Hand,Left-arm fast-medium,India,0,NaN
15,16,SB Joshi,6-Jun-70,Left_Hand,Slow left-arm orthodox,India,0,NaN
16,17,PA Patel,9-Mar-85,Left_Hand,NaN,India,0,NaN
17,18,ML Hayden,29-Oct-71,Left_Hand,Right-arm medium,Australia,0,NaN
18,19,MEK Hussey,27-May-75,Left_Hand,Right-arm medium,Australia,0,NaN
19,20,MS Dhoni,7-Jul-81,Right_Hand,Right-arm medium,India,0,NaN
20,21,SK Raina,27-Nov-86,Left_Hand,Right-arm offbreak,India,0,NaN
21,22,JDP Oram,28-Jul-78,Left_Hand,Right-arm fast-medium,New Zealand,0,NaN
22,23,S Badrinath,30-Aug-80,Right_Hand,Right-arm offbreak,India,0,NaN
23,24,K Goel,24-Dec-86,Left_Hand,Right-arm offbreak,India,0,NaN
24,25,JR Hopes,24-Oct-78,Right_Hand,Right-arm medium,Australia,0,NaN
25,26,KC Sangakkara,27-Oct-77,Left_Hand,Right-arm offbreak,Sri Lanka,0,NaN
26,27,Yuvraj Singh,12-Dec-81,Left_Hand,Slow left-arm orthodox,India,0,NaN
27,28,SM Katich,21-Aug-75,Left_Hand,Slow left-arm chinaman,Australia,0,NaN
28,29,IK Pathan,27-Oct-84,Left_Hand,Left-arm medium-fast,India,0,NaN
29,30,T Kohli,17-Dec-88,Right_Hand,Right-arm medium,India,0,NaN
...,...,...,...,...,...,...,...,...
493,494,JD Cloete,NaN,NaN,NaN,South Africa,1,NaN
494,495,AK Chaudhary,NaN,NaN,NaN,India,1,NaN
495,496,VA Kulkarni,NaN,NaN,NaN,India,1,NaN
496,497,BNJ Oxenford,NaN,NaN,NaN,Australia,1,NaN
497,498,CK Nandan,NaN,NaN,NaN,India,1,NaN
498,499,C Shamshuddin,NaN,NaN,NaN,India,1,NaN
499,500,NJ Llong,NaN,NaN,NaN,England,1,NaN
500,501,RK Illingworth,NaN,NaN,NaN,England,1,NaN
501,502,RM Deshpande,NaN,NaN,NaN,India,1,NaN
502,503,K Srinath,NaN,NaN,NaN,India,1,NaN
503,504,SD Fry,NaN,NaN,NaN,Australia,1,NaN
504,505,CB Gaffaney,NaN,NaN,NaN,New Zealand,1,NaN
505,506,PG Pathak,NaN,NaN,NaN,India,1,NaN
506,507,Nitin Menon,NaN,NaN,NaN,India,1,NaN
507,508,K Bharatan,NaN,NaN,NaN,India,1,NaN
508,509,AY Dandekar,NaN,NaN,NaN,India,1,NaN
509,510,KN Ananthapadmanabhan,NaN,NaN,NaN,India,1,NaN
510,511,A Nand Kishore,NaN,NaN,NaN,India,1,NaN
511,512,GA Pratapkumar,NaN,NaN,NaN,India,1,NaN
512,513,RB Tiffin,NaN,NaN,NaN,Zimbabwea,1,NaN
513,514,I Shivram,NaN,NaN,NaN,India,1,NaN
514,515,SD Ranade,NaN,NaN,NaN,India,1,NaN
515,516,TH Wijewardene,NaN,NaN,NaN,Sri Lanka,1,NaN
516,517,AL Hill,NaN,NaN,NaN,New Zealand,1,NaN
517,518,RJ Tucker,NaN,NaN,NaN,Australia,1,NaN
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [16]:
sorted(a.Country)

['Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'England',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Netherlands',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'West Indies',
 'Zimbabwea',
 'Zimbabwea',
 'Zimbabwea']

In [18]:
list(a)

['Player_Id',
 'Player_Name',
 'DOB',
 'Batting_Hand',
 'Bowling_Skill',
 'Country',
 'Is_Umpire',
 'Unnamed: 7']

In [4]:
a=pd.read_csv("../Downloads/Player.csv",usecols = ['Player_Name','Country'],squeeze = True,index_col='Player_Name')
a

Player_Name
SC Ganguly                      India
BB McCullum               New Zealand
RT Ponting                  Australia
DJ Hussey                   Australia
Mohammad Hafeez              Pakistan
R Dravid                        India
W Jaffer                        India
V Kohli                         India
JH Kallis                South Africa
CL White                    Australia
MV Boucher               South Africa
B Akhil                         India
AA Noffke                   Australia
P Kumar                         India
Z Khan                          India
SB Joshi                        India
PA Patel                        India
ML Hayden                   Australia
MEK Hussey                  Australia
MS Dhoni                        India
SK Raina                        India
JDP Oram                  New Zealand
S Badrinath                     India
K Goel                          India
JR Hopes                    Australia
KC Sangakkara               Sri Lanka
Yuvraj Singh                    India
SM Katich                   Australia
IK Pathan                       India
T Kohli                         India
                             ...
JD Cloete                South Africa
AK Chaudhary                    India
VA Kulkarni                     India
BNJ Oxenford                Australia
CK Nandan                       India
C Shamshuddin                   India
NJ Llong                      England
RK Illingworth                England
RM Deshpande                    India
K Srinath                       India
SD Fry                      Australia
CB Gaffaney               New Zealand
PG Pathak                       India
Nitin Menon                     India
K Bharatan                      India
AY Dandekar                     India
KN Ananthapadmanabhan           India
A Nand Kishore                  India
GA Pratapkumar                  India
RB Tiffin                   Zimbabwea
I Shivram                       India
SD Ranade                       India
TH Wijewardene              Sri Lanka
AL Hill                   New Zealand
RJ Tucker                   Australia
Subroto Das                     India
K Srinivasan                    India
VK Sharma                       India
AV Wankhade                     India
B Aparajith                     India
Name: Country, Length: 523, dtype: object

In [26]:
sorted(b)
list(b)
dict(b)
max(b)
min(b)

'A Ashish Reddy'

In [6]:
a.get(['MS Dhoni','V Kohli'])

Player_Name
MS Dhoni    India
V Kohli     India
Name: Country, dtype: object

In [11]:
b.describe()

count           523
unique          523
top       AC Thomas
freq              1
Name: Player_Name, dtype: object

In [30]:
b.max()
b.std()
b[b.idxmax()]

524

In [25]:
b.describe()

count    523.000000
mean     262.003824
std      151.127981
min        1.000000
25%      131.500000
50%      262.000000
75%      392.500000
max      524.000000
Name: Player_Id, dtype: float64

In [35]:
b.value_counts()

India           291
Australia        78
South Africa     44
New Zealand      26
Sri Lanka        22
West Indies      20
England          18
Pakistan         15
Bangladesh        5
Zimbabwea         3
Netherlands       1
Name: Country, dtype: int64

In [42]:
def fun(num):
    if num%2==0:
        return "good"
    else:
        return "bad"

In [44]:
c.apply(fun).head()

0     bad
1    good
2     bad
3    good
4     bad
Name: Player_Id, dtype: object

In [56]:
c.apply(lambda xyz :xyz/2)

0        0.5
1        1.0
2        1.5
3        2.0
4        2.5
5        3.0
6        3.5
7        4.0
8        4.5
9        5.0
10       5.5
11       6.0
12       6.5
13       7.0
14       7.5
15       8.0
16       8.5
17       9.0
18       9.5
19      10.0
20      10.5
21      11.0
22      11.5
23      12.0
24      12.5
25      13.0
26      13.5
27      14.0
28      14.5
29      15.0
       ...
493    247.0
494    247.5
495    248.0
496    248.5
497    249.0
498    249.5
499    250.0
500    250.5
501    251.0
502    251.5
503    252.0
504    252.5
505    253.0
506    253.5
507    254.0
508    254.5
509    255.0
510    255.5
511    256.0
512    256.5
513    257.0
514    257.5
515    258.0
516    258.5
517    259.0
518    259.5
519    260.0
520    260.5
521    261.5
522    262.0
Name: Player_Id, Length: 523, dtype: float64

In [73]:
fruit={'color':['orange','apple'],'fruit':['banana','chickoo']}

In [74]:
type(fruit)

dict

In [66]:
pd.dataframe(fruit)

AttributeError: module 'pandas' has no attribute 'dataframe'

In [79]:
pd.DataFrame(data=fruit)

    color    fruit
0  orange   banana
1   apple  chickoo

In [2]:
imdb=pd.read_csv("../Downloads/Datasets/tmdb_5000_credits.csv")

In [85]:
imdb.index

RangeIndex(start=0, stop=4803, step=1)

In [86]:
imdb.head(10)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."

In [90]:
imdb.describe

<bound method NDFrame.describe of       movie_id                                        title  \
0        19995                                       Avatar
1          285     Pirates of the Caribbean: At World's End
2       206647                                      Spectre
3        49026                        The Dark Knight Rises
4        49529                                  John Carter
5          559                                 Spider-Man 3
6        38757                                      Tangled
7        99861                      Avengers: Age of Ultron
8          767       Harry Potter and the Half-Blood Prince
9       209112           Batman v Superman: Dawn of Justice
10        1452                             Superman Returns
11       10764                            Quantum of Solace
12          58   Pirates of the Caribbean: Dead Man's Chest
13       57201                              The Lone Ranger
14       49521                                 Man of Steel
15        2454     The Chronicles of Narnia: Prince Caspian
16       24428                                 The Avengers
17        1865  Pirates of the Caribbean: On Stranger Tides
18       41154                               Men in Black 3
19      122917    The Hobbit: The Battle of the Five Armies
20        1930                       The Amazing Spider-Man
21       20662                                   Robin Hood
22       57158          The Hobbit: The Desolation of Smaug
23        2268                           The Golden Compass
24         254                                    King Kong
25         597                                      Titanic
26      271110                   Captain America: Civil War
27       44833                                   Battleship
28      135397                               Jurassic World
29       37724                                      Skyfall
...        ...                                          ...
4773      2292                                       Clerks
4774     42497                               Pink Narcissus
4775     33693                                  Funny Ha Ha
4776     14585                        In the Company of Men
4777    185465                                       Manito
4778     38780                                      Rampage
4779     14022                                      Slacker
4780    366967                                  Dutch Kills
4781    255266                                    Dry Spell
4782     17345                                     Flywheel
4783    226458                                     Backmask
4784     24055                              The Puffy Chair
4785    287625                         Stories of Our Lives
4786     44990                             Breaking Upwards
4787     86304                     All Superheroes Must Die
4788       692                               Pink Flamingos
4789     39851                                        Clean
4790     13898                                   The Circle
4791    157185                                  Tin Can Man
4792     36095                                         Cure
4793    182291                               On The Downlow
4794    286939                 Sanctuary: Quite a Conundrum
4795    124606                                         Bang
4796     14337                                       Primer
4797     67238                                       Cavite
4798      9367                                  El Mariachi
4799     72766                                    Newlyweds
4800    231617                    Signed, Sealed, Delivered
4801    126186                             Shanghai Calling
4802     25975                            My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
5     [{"cast_id": 30, "character": "Peter Parker / ...
6     [{"cast_id": 34, "character": "Flynn Rider (vo...
7     [{"cast_id": 76, "character": "Tony Stark / Ir...
8     [{"cast_id": 3, "character": "Harry Potter", "...
9     [{"cast_id": 18, "character": "Bruce Wayne / B...
10    [{"cast_id": 3, "character": "Superman / Clark...
11    [{"cast_id": 1, "character": "James Bond", "cr...
12    [{"cast_id": 37, "character": "Captain Jack Sp...
13    [{"cast_id": 4, "character": "Tonto", "credit_...
14    [{"cast_id": 2, "character": "Clark Kent / Kal...
15    [{"cast_id": 1, "character": "Prince Caspian",...
16    [{"cast_id": 46, "character": "Tony Stark / Ir...
17    [{"cast_id": 15, "character": "Captain Jack Sp...
18    [{"cast_id": 4, "character": "Agent J", "credi...
19    [{"cast_id": 10, "character": "Bilbo Baggins",...
20    [{"cast_id": 56, "character": "Peter Parker / ...
21    [{"cast_id": 1, "character": "Robin Longstride...
22    [{"cast_id": 3, "character": "Bilbo Baggins", ...
23    [{"cast_id": 43, "character": "Lyra Belacqua",...
24    [{"cast_id": 5, "character": "Ann Darrow", "cr...
25    [{"cast_id": 20, "character": "Rose DeWitt Buk...
26    [{"cast_id": 9, "character": "Steve Rogers / C...
27    [{"cast_id": 3, "character": "Lieutenant Alex ...
28    [{"cast_id": 10, "character": "Owen Grady", "c...
29    [{"cast_id": 1, "character": "James Bond", "cr...
...                                                 ...
4773  [{"cast_id": 7, "character": "Dante Hicks", "c...
4774  [{"cast_id": 1006, "character": "Pan", "credit...
4775  [{"cast_id": 1, "character": "Marnie", "credit...
4776  [{"cast_id": 1, "character": "Chad", "credit_i...
4777  [{"cast_id": 1, "character": "Junior Moreno", ...
4778  [{"cast_id": 1, "character": "Bill Williamson"...
4779  [{"cast_id": 1, "character": "Should Have Stay...
4780  [{"cast_id": 4, "character": "Val", "credit_id...
4781  [{"cast_id": 4, "character": "Sasha", "credit_...
4782  [{"cast_id": 1, "character": "Jay", "credit_id...
4783  [{"cast_id": 3, "character": "Father Conway", ...
4784  [{"cast_id": 4, "character": "Josh", "credit_i...
4785  [{"cast_id": 8, "character": "", "credit_id": ...
4786  [{"cast_id": 1, "character": "Zoe", "credit_id...
4787  [{"cast_id": 1, "character": "Charge / John", ...
4788  [{"cast_id": 8, "character": "Divine / Babs Jo...
4789  [{"cast_id": 1, "character": "Emily Wang", "cr...
4790  [{"cast_id": 3, "character": "Nargess", "credi...
4791  [{"cast_id": 1, "character": "Dave", "credit_i...
4792  [{"cast_id": 3, "character": "Kenichi Takabe",...
4793  [{"cast_id": 1, "character": "Isaac", "credit_...
4794  [{"cast_id": 3, "character": "Mimi", "credit_i...
4795  [{"cast_id": 2, "character": "The Girl", "cred...
4796  [{"cast_id": 1, "character": "Aaron", "credit_...
4797                                                 []
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
5     [{"credit_id": "52fe4252c3a36847f80151a5", "de...
6     [{"credit_id": "52fe46db9251416c91062101", "de...
7     [{"credit_id": "55d5f7d4c3a3683e7e0016eb", "de...
8     [{"credit_id": "52fe4273c3a36847f801fab1", "de...
9     [{"credit_id": "553bf23692514135c8002886", "de...
10    [{"credit_id": "553bef6a9251416874003c8f", "de...
11    [{"credit_id": "52fe43b29251416c7501aa63", "de...
12    [{"credit_id": "52fe4211c3a36847f8001873", "de...
13    [{"credit_id": "52fe4928c3a36847f818be95", "de...
14    [{"credit_id": "52fe4799c3a36847f813e667", "de...
15    [{"credit_id": "55a239e69251412979002e8b", "de...
16    [{"credit_id": "52fe4495c3a368484e02b1cf", "de...
17    [{"credit_id": "566b4f54c3a3683f56005151", "de...
18    [{"credit_id": "52fe45b7c3a36847f80d68c7", "de...
19    [{"credit_id": "548ad49a9251414fa20011ab", "de...
20    [{"credit_id": "5395a60dc3a368641d004492", "de...
21    [{"credit_id": "52fe43f2c3a368484e0076ad", "de...
22    [{"credit_id": "52fe4926c3a36847f818b787", "de...
23    [{"credit_id": "52fe4348c3a36847f8048635", "de...
24    [{"credit_id": "52fe422ec3a36847f800a1d7", "de...
25    [{"credit_id": "52fe425ac3a36847f8017985", "de...
26    [{"credit_id": "569443d59251414b67000428", "de...
27    [{"credit_id": "52fe469ec3a36847f8108d45", "de...
28    [{"credit_id": "52fe4bf7c3a368484e1a0683", "de...
29    [{"credit_id": "52fe46689251416c910537ad", "de...
...                                                 ...
4773  [{"credit_id": "52fe434ac3a36847f8049253", "de...
4774  [{"credit_id": "52fe4606c3a36847f80e7ed9", "de...
4775  [{"credit_id": "52fe45309251416c9102a535", "de...
4776  [{"credit_id": "52fe46049251416c7506a36b", "de...
4777  [{"credit_id": "54931bbf925141090e001d32", "de...
4778  [{"credit_id": "52fe46df9251416c91062979", "de...
4779  [{"credit_id": "52fe45c49251416c75061c17", "de...
4780  [{"credit_id": "563d13ec9251414c70007d5e", "de...
4781  [{"credit_id": "52fe4ee39251416c911412e7", "de...
4782  [{"credit_id": "52fe471e9251416c7508e579", "de...
4783  [{"credit_id": "554c8351c3a3685e500041f5", "de...
4784  [{"credit_id": "52fe447fc3a368484e026881", "de...
4785  [{"credit_id": "549e790a9251414d27003096", "de...
4786  [{"credit_id": "572239efc3a368712a0007db", "de...
4787  [{"credit_id": "52fe497f9251416c910af3d1", "de...
4788  [{"credit_id": "52fe426bc3a36847f801d203", "de...
4789  [{"credit_id": "52fe47369251416c9106db9b", "de...
4790  [{"credit_id": "52fe45b09251416c7505f189", "de...
4791  [{"credit_id": "54c7851b925141679100372a", "de...
4792  [{"credit_id": "52fe45cc9251416c9103eb7b", "de...
4793  [{"credit_id": "548c416392514122ef00197d", "de...
4794  [{"credit_id": "545f8107c3a3686cbb0041fd", "de...
4795  [{"credit_id": "52fe4ab0c3a368484e161add", "de...
4796  [{"credit_id": "52fe45e79251416c75066791", "de...
4797  [{"credit_id": "52fe475dc3a368484e0c319f", "de...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]>

In [91]:
imdb.dtypes

movie_id     int64
title       object
cast        object
crew        object
dtype: object

In [92]:
imdb.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [93]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [1]:
import pandas as pd

In [3]:
imdb.describe

<bound method NDFrame.describe of       movie_id                                        title  \
0        19995                                       Avatar
1          285     Pirates of the Caribbean: At World's End
2       206647                                      Spectre
3        49026                        The Dark Knight Rises
4        49529                                  John Carter
5          559                                 Spider-Man 3
6        38757                                      Tangled
7        99861                      Avengers: Age of Ultron
8          767       Harry Potter and the Half-Blood Prince
9       209112           Batman v Superman: Dawn of Justice
10        1452                             Superman Returns
11       10764                            Quantum of Solace
12          58   Pirates of the Caribbean: Dead Man's Chest
13       57201                              The Lone Ranger
14       49521                                 Man of Steel
15        2454     The Chronicles of Narnia: Prince Caspian
16       24428                                 The Avengers
17        1865  Pirates of the Caribbean: On Stranger Tides
18       41154                               Men in Black 3
19      122917    The Hobbit: The Battle of the Five Armies
20        1930                       The Amazing Spider-Man
21       20662                                   Robin Hood
22       57158          The Hobbit: The Desolation of Smaug
23        2268                           The Golden Compass
24         254                                    King Kong
25         597                                      Titanic
26      271110                   Captain America: Civil War
27       44833                                   Battleship
28      135397                               Jurassic World
29       37724                                      Skyfall
...        ...                                          ...
4773      2292                                       Clerks
4774     42497                               Pink Narcissus
4775     33693                                  Funny Ha Ha
4776     14585                        In the Company of Men
4777    185465                                       Manito
4778     38780                                      Rampage
4779     14022                                      Slacker
4780    366967                                  Dutch Kills
4781    255266                                    Dry Spell
4782     17345                                     Flywheel
4783    226458                                     Backmask
4784     24055                              The Puffy Chair
4785    287625                         Stories of Our Lives
4786     44990                             Breaking Upwards
4787     86304                     All Superheroes Must Die
4788       692                               Pink Flamingos
4789     39851                                        Clean
4790     13898                                   The Circle
4791    157185                                  Tin Can Man
4792     36095                                         Cure
4793    182291                               On The Downlow
4794    286939                 Sanctuary: Quite a Conundrum
4795    124606                                         Bang
4796     14337                                       Primer
4797     67238                                       Cavite
4798      9367                                  El Mariachi
4799     72766                                    Newlyweds
4800    231617                    Signed, Sealed, Delivered
4801    126186                             Shanghai Calling
4802     25975                            My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
5     [{"cast_id": 30, "character": "Peter Parker / ...
6     [{"cast_id": 34, "character": "Flynn Rider (vo...
7     [{"cast_id": 76, "character": "Tony Stark / Ir...
8     [{"cast_id": 3, "character": "Harry Potter", "...
9     [{"cast_id": 18, "character": "Bruce Wayne / B...
10    [{"cast_id": 3, "character": "Superman / Clark...
11    [{"cast_id": 1, "character": "James Bond", "cr...
12    [{"cast_id": 37, "character": "Captain Jack Sp...
13    [{"cast_id": 4, "character": "Tonto", "credit_...
14    [{"cast_id": 2, "character": "Clark Kent / Kal...
15    [{"cast_id": 1, "character": "Prince Caspian",...
16    [{"cast_id": 46, "character": "Tony Stark / Ir...
17    [{"cast_id": 15, "character": "Captain Jack Sp...
18    [{"cast_id": 4, "character": "Agent J", "credi...
19    [{"cast_id": 10, "character": "Bilbo Baggins",...
20    [{"cast_id": 56, "character": "Peter Parker / ...
21    [{"cast_id": 1, "character": "Robin Longstride...
22    [{"cast_id": 3, "character": "Bilbo Baggins", ...
23    [{"cast_id": 43, "character": "Lyra Belacqua",...
24    [{"cast_id": 5, "character": "Ann Darrow", "cr...
25    [{"cast_id": 20, "character": "Rose DeWitt Buk...
26    [{"cast_id": 9, "character": "Steve Rogers / C...
27    [{"cast_id": 3, "character": "Lieutenant Alex ...
28    [{"cast_id": 10, "character": "Owen Grady", "c...
29    [{"cast_id": 1, "character": "James Bond", "cr...
...                                                 ...
4773  [{"cast_id": 7, "character": "Dante Hicks", "c...
4774  [{"cast_id": 1006, "character": "Pan", "credit...
4775  [{"cast_id": 1, "character": "Marnie", "credit...
4776  [{"cast_id": 1, "character": "Chad", "credit_i...
4777  [{"cast_id": 1, "character": "Junior Moreno", ...
4778  [{"cast_id": 1, "character": "Bill Williamson"...
4779  [{"cast_id": 1, "character": "Should Have Stay...
4780  [{"cast_id": 4, "character": "Val", "credit_id...
4781  [{"cast_id": 4, "character": "Sasha", "credit_...
4782  [{"cast_id": 1, "character": "Jay", "credit_id...
4783  [{"cast_id": 3, "character": "Father Conway", ...
4784  [{"cast_id": 4, "character": "Josh", "credit_i...
4785  [{"cast_id": 8, "character": "", "credit_id": ...
4786  [{"cast_id": 1, "character": "Zoe", "credit_id...
4787  [{"cast_id": 1, "character": "Charge / John", ...
4788  [{"cast_id": 8, "character": "Divine / Babs Jo...
4789  [{"cast_id": 1, "character": "Emily Wang", "cr...
4790  [{"cast_id": 3, "character": "Nargess", "credi...
4791  [{"cast_id": 1, "character": "Dave", "credit_i...
4792  [{"cast_id": 3, "character": "Kenichi Takabe",...
4793  [{"cast_id": 1, "character": "Isaac", "credit_...
4794  [{"cast_id": 3, "character": "Mimi", "credit_i...
4795  [{"cast_id": 2, "character": "The Girl", "cred...
4796  [{"cast_id": 1, "character": "Aaron", "credit_...
4797                                                 []
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
5     [{"credit_id": "52fe4252c3a36847f80151a5", "de...
6     [{"credit_id": "52fe46db9251416c91062101", "de...
7     [{"credit_id": "55d5f7d4c3a3683e7e0016eb", "de...
8     [{"credit_id": "52fe4273c3a36847f801fab1", "de...
9     [{"credit_id": "553bf23692514135c8002886", "de...
10    [{"credit_id": "553bef6a9251416874003c8f", "de...
11    [{"credit_id": "52fe43b29251416c7501aa63", "de...
12    [{"credit_id": "52fe4211c3a36847f8001873", "de...
13    [{"credit_id": "52fe4928c3a36847f818be95", "de...
14    [{"credit_id": "52fe4799c3a36847f813e667", "de...
15    [{"credit_id": "55a239e69251412979002e8b", "de...
16    [{"credit_id": "52fe4495c3a368484e02b1cf", "de...
17    [{"credit_id": "566b4f54c3a3683f56005151", "de...
18    [{"credit_id": "52fe45b7c3a36847f80d68c7", "de...
19    [{"credit_id": "548ad49a9251414fa20011ab", "de...
20    [{"credit_id": "5395a60dc3a368641d004492", "de...
21    [{"credit_id": "52fe43f2c3a368484e0076ad", "de...
22    [{"credit_id": "52fe4926c3a36847f818b787", "de...
23    [{"credit_id": "52fe4348c3a36847f8048635", "de...
24    [{"credit_id": "52fe422ec3a36847f800a1d7", "de...
25    [{"credit_id": "52fe425ac3a36847f8017985", "de...
26    [{"credit_id": "569443d59251414b67000428", "de...
27    [{"credit_id": "52fe469ec3a36847f8108d45", "de...
28    [{"credit_id": "52fe4bf7c3a368484e1a0683", "de...
29    [{"credit_id": "52fe46689251416c910537ad", "de...
...                                                 ...
4773  [{"credit_id": "52fe434ac3a36847f8049253", "de...
4774  [{"credit_id": "52fe4606c3a36847f80e7ed9", "de...
4775  [{"credit_id": "52fe45309251416c9102a535", "de...
4776  [{"credit_id": "52fe46049251416c7506a36b", "de...
4777  [{"credit_id": "54931bbf925141090e001d32", "de...
4778  [{"credit_id": "52fe46df9251416c91062979", "de...
4779  [{"credit_id": "52fe45c49251416c75061c17", "de...
4780  [{"credit_id": "563d13ec9251414c70007d5e", "de...
4781  [{"credit_id": "52fe4ee39251416c911412e7", "de...
4782  [{"credit_id": "52fe471e9251416c7508e579", "de...
4783  [{"credit_id": "554c8351c3a3685e500041f5", "de...
4784  [{"credit_id": "52fe447fc3a368484e026881", "de...
4785  [{"credit_id": "549e790a9251414d27003096", "de...
4786  [{"credit_id": "572239efc3a368712a0007db", "de...
4787  [{"credit_id": "52fe497f9251416c910af3d1", "de...
4788  [{"credit_id": "52fe426bc3a36847f801d203", "de...
4789  [{"credit_id": "52fe47369251416c9106db9b", "de...
4790  [{"credit_id": "52fe45b09251416c7505f189", "de...
4791  [{"credit_id": "54c7851b925141679100372a", "de...
4792  [{"credit_id": "52fe45cc9251416c9103eb7b", "de...
4793  [{"credit_id": "548c416392514122ef00197d", "de...
4794  [{"credit_id": "545f8107c3a3686cbb0041fd", "de...
4795  [{"credit_id": "52fe4ab0c3a368484e161add", "de...
4796  [{"credit_id": "52fe45e79251416c75066791", "de...
4797  [{"credit_id": "52fe475dc3a368484e0c319f", "de...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]>

In [4]:
imdb.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [5]:
dic(pd)

NameError: name 'dic' is not defined

In [6]:
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [7]:
pd.DataFrame(data=imdb)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."
10,1452,Superman Returns,"[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de..."
11,10764,Quantum of Solace,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de..."
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de..."
13,57201,The Lone Ranger,"[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de..."
14,49521,Man of Steel,"[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de..."
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de..."
16,24428,The Avengers,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de..."
18,41154,Men in Black 3,"[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de..."
19,122917,The Hobbit: The Battle of the Five Armies,"[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de..."
20,1930,The Amazing Spider-Man,"[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de..."
21,20662,Robin Hood,"[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de..."
22,57158,The Hobbit: The Desolation of Smaug,"[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de..."
23,2268,The Golden Compass,"[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de..."
24,254,King Kong,"[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de..."
25,597,Titanic,"[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de..."
26,271110,Captain America: Civil War,"[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de..."
27,44833,Battleship,"[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de..."
28,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
29,37724,Skyfall,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe46689251416c910537ad"", ""de..."
...,...,...,...,...
4773,2292,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de..."
4774,42497,Pink Narcissus,"[{""cast_id"": 1006, ""character"": ""Pan"", ""credit...","[{""credit_id"": ""52fe4606c3a36847f80e7ed9"", ""de..."
4775,33693,Funny Ha Ha,"[{""cast_id"": 1, ""character"": ""Marnie"", ""credit...","[{""credit_id"": ""52fe45309251416c9102a535"", ""de..."
4776,14585,In the Company of Men,"[{""cast_id"": 1, ""character"": ""Chad"", ""credit_i...","[{""credit_id"": ""52fe46049251416c7506a36b"", ""de..."
4777,185465,Manito,"[{""cast_id"": 1, ""character"": ""Junior Moreno"", ...","[{""credit_id"": ""54931bbf925141090e001d32"", ""de..."
4778,38780,Rampage,"[{""cast_id"": 1, ""character"": ""Bill Williamson""...","[{""credit_id"": ""52fe46df9251416c91062979"", ""de..."
4779,14022,Slacker,"[{""cast_id"": 1, ""character"": ""Should Have Stay...","[{""credit_id"": ""52fe45c49251416c75061c17"", ""de..."
4780,366967,Dutch Kills,"[{""cast_id"": 4, ""character"": ""Val"", ""credit_id...","[{""credit_id"": ""563d13ec9251414c70007d5e"", ""de..."
4781,255266,Dry Spell,"[{""cast_id"": 4, ""character"": ""Sasha"", ""credit_...","[{""credit_id"": ""52fe4ee39251416c911412e7"", ""de..."
4782,17345,Flywheel,"[{""cast_id"": 1, ""character"": ""Jay"", ""credit_id...","[{""credit_id"": ""52fe471e9251416c7508e579"", ""de..."
4783,226458,Backmask,"[{""cast_id"": 3, ""character"": ""Father Conway"", ...","[{""credit_id"": ""554c8351c3a3685e500041f5"", ""de..."
4784,24055,The Puffy Chair,"[{""cast_id"": 4, ""character"": ""Josh"", ""credit_i...","[{""credit_id"": ""52fe447fc3a368484e026881"", ""de..."
4785,287625,Stories of Our Lives,"[{""cast_id"": 8, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""549e790a9251414d27003096"", ""de..."
4786,44990,Breaking Upwards,"[{""cast_id"": 1, ""character"": ""Zoe"", ""credit_id...","[{""credit_id"": ""572239efc3a368712a0007db"", ""de..."
4787,86304,All Superheroes Must Die,"[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de..."
4788,692,Pink Flamingos,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de..."
4789,39851,Clean,"[{""cast_id"": 1, ""character"": ""Emily Wang"", ""cr...","[{""credit_id"": ""52fe47369251416c9106db9b"", ""de..."
4790,13898,The Circle,"[{""cast_id"": 3, ""character"": ""Nargess"", ""credi...","[{""credit_id"": ""52fe45b09251416c7505f189"", ""de..."
4791,157185,Tin Can Man,"[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""54c7851b925141679100372a"", ""de..."
4792,36095,Cure,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de..."
4793,182291,On The Downlow,"[{""cast_id"": 1, ""character"": ""Isaac"", ""credit_...","[{""credit_id"": ""548c416392514122ef00197d"", ""de..."
4794,286939,Sanctuary: Quite a Conundrum,"[{""cast_id"": 3, ""character"": ""Mimi"", ""credit_i...","[{""credit_id"": ""545f8107c3a3686cbb0041fd"", ""de..."
4795,124606,Bang,"[{""cast_id"": 2, ""character"": ""The Girl"", ""cred...","[{""credit_id"": ""52fe4ab0c3a368484e161add"", ""de..."
4796,14337,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de..."
4797,67238,Cavite,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de..."
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
type(imdb)

pandas.core.frame.DataFrame

In [9]:
sorted(imdb)

['cast', 'crew', 'movie_id', 'title']

In [10]:
sorted(imdb.title)

['#Horror',
 '(500) Days of Summer',
 '10 Cloverfield Lane',
 '10 Days in a Madhouse',
 '10 Things I Hate About You',
 '102 Dalmatians',
 '10th & Wolf',
 '11:14',
 '12 Angry Men',
 '12 Rounds',
 '12 Years a Slave',
 '127 Hours',
 '13 Going on 30',
 '13 Hours: The Secret Soldiers of Benghazi',
 '1408',
 '15 Minutes',
 '16 Blocks',
 '16 to Life',
 '17 Again',
 '1776',
 '1911',
 '1941',
 '1982',
 '2 Fast 2 Furious',
 '2 Guns',
 '20 Dates',
 '20 Feet from Stardom',
 '20,000 Leagues Under the Sea',
 '200 Cigarettes',
 '2001: A Space Odyssey',
 '2012',
 "2016: Obama's America",
 '2046',
 '21',
 '21 & Over',
 '21 Grams',
 '21 Jump Street',
 '22 Jump Street',
 '24 7: Twenty Four Seven',
 '25th Hour',
 '27 Dresses',
 '28 Days',
 '28 Days Later',
 '28 Weeks Later',
 '2:13',
 '3 Backyards',
 '3 Days to Kill',
 '3 Ninjas Kick Back',
 '3 Strikes',
 '30 Days of Night',
 '30 Minutes or Less',
 '30 Nights of Paranormal Activity With the Devil Inside the Girl With the Dragon Tattoo',
 '300',
 '3000 Miles to Graceland',
 '300: Rise of an Empire',
 '3:10 to Yuma',
 '4 Months, 3 Weeks and 2 Days',
 '40 Days and 40 Nights',
 '42',
 '42nd Street',
 '47 Ronin',
 '5 Days of War',
 '50 First Dates',
 '50/50',
 '51 Birch Street',
 '54',
 '55 Days at Peking',
 '8 Days',
 '8 Heads in a Duffel Bag',
 '8 Mile',
 '8 Women',
 '88 Minutes',
 '8: The Mormon Proposition',
 '8MM',
 '9',
 '90 Minutes in Heaven',
 'A Beautiful Mind',
 "A Beginner's Guide to Snuff",
 'A Better Life',
 'A Bridge Too Far',
 "A Bug's Life",
 'A Charlie Brown Christmas',
 'A Christmas Carol',
 'A Christmas Story',
 'A Cinderella Story',
 'A Civil Action',
 'A Cock and Bull Story',
 'A Dangerous Method',
 'A Dog Of Flanders',
 "A Dog's Breakfast",
 'A Farewell to Arms',
 'A Few Good Men',
 'A Fine Step',
 'A Fistful of Dollars',
 'A Funny Thing Happened on the Way to the Forum',
 'A Good Day to Die Hard',
 'A Good Year',
 'A Guy Named Joe',
 'A Guy Thing',
 "A Hard Day's Night",
 'A Haunted House',
 'A Haunted House 2',
 'A History of Violence',
 'A Home at the End of the World',
 "A Knight's Tale",
 'A LEGO Brickumentary',
 'A League of Their Own',
 'A Lonely Place to Die',
 'A Lot Like Love',
 'A Low Down Dirty Shame',
 'A Madea Christmas',
 'A Man Apart',
 'A Man for All Seasons',
 'A Mighty Heart',
 'A Mighty Wind',
 'A Million Ways to Die in the West',
 'A Monster in Paris',
 'A Most Violent Year',
 'A Most Wanted Man',
 'A Night at the Roxbury',
 'A Nightmare on Elm Street',
 'A Nightmare on Elm Street 3: Dream Warriors',
 'A Nightmare on Elm Street 4: The Dream Master',
 'A Nightmare on Elm Street 5: The Dream Child',
 "A Nightmare on Elm Street Part 2: Freddy's Revenge",
 'A Passage to India',
 'A Perfect Getaway',
 'A Prairie Home Companion',
 'A Room for Romeo Brass',
 'A Room with a View',
 'A Scanner Darkly',
 'A Separation',
 'A Serious Man',
 'A Shine of Rainbows',
 'A Simple Plan',
 'A Simple Wish',
 'A Single Man',
 'A Sound of Thunder',
 'A Streetcar Named Desire',
 'A Tale of Three Cities',
 'A Thin Line Between Love and Hate',
 'A Thousand Words',
 'A Time to Kill',
 'A True Story',
 "A Turtle's Tale: Sammy's Adventures",
 'A Very Harold & Kumar Christmas',
 'A Very Long Engagement',
 'A View to a Kill',
 'A Walk Among the Tombstones',
 'A Walk on the Moon',
 'A Walk to Remember',
 'A Woman, a Gun and a Noodle Shop',
 'A.I. Artificial Intelligence',
 'ABCD (Any Body Can Dance)',
 'ATL',
 'AVP: Alien vs. Predator',
 'AWOL-72',
 'Abandon',
 'Abandoned',
 'Abduction',
 'Aberdeen',
 'About Last Night',
 'About Schmidt',
 'About Time',
 'About a Boy',
 'Abraham Lincoln: Vampire Hunter',
 'Absentia',
 'Absolute Power',
 'Accidental Love',
 'Ace Ventura: Pet Detective',
 'Ace Ventura: When Nature Calls',
 'Across the Universe',
 'Act of Valor',
 'Action Jackson',
 'Adam',
 'Adam Resurrected',
 'Adaptation.',
 'Addicted',
 'Admission',
 'Adore',
 'Adulterers',
 'Adventureland',
 'After',
 'After Earth',
 'After the Sunset',
 'After.Life',
 'Against the Ropes',
 'Against the Wild',
 'Agent Cody Banks',
 'Agent Cody Banks 2: Destination London',
 'Agora',
 'Aimee & Jaguar',
 'Air Bud',
 'Air Force One',
 'Airborne',
 'Airlift',
 'Airplane!',
 'Ajami',
 'Akeelah and the Bee',
 'Akira',
 'Aladdin',
 'Alatriste',
 'Albert Nobbs',
 'Albino Alligator',
 'Alex & Emma',
 'Alex Cross',
 'Alexander',
 'Alexander and the Terrible, Horrible, No Good, Very Bad Day',
 "Alexander's Ragtime Band",
 'Alfie',
 'Ali',
 'Alice Through the Looking Glass',
 'Alice in Wonderland',
 'Alien',
 'Alien Zone',
 'Alien: Resurrection',
 'Aliens',
 'Aliens in the Attic',
 'Aliens vs Predator: Requiem',
 'Alien³',
 'Alive',
 'All About Steve',
 'All About the Benjamins',
 'All Good Things',
 'All Hat',
 'All Is Bright',
 'All Is Lost',
 'All Superheroes Must Die',
 'All That Jazz',
 "All The Queen's Men",
 'All or Nothing',
 'All the Boys Love Mandy Lane',
 "All the King's Men",
 'All the Pretty Horses',
 'All the Real Girls',
 'Allegiant',
 "Alleluia! The Devil's Carnival",
 'Almost Famous',
 'Aloft',
 'Aloha',
 'Alone With Her',
 'Alone in the Dark',
 'Along Came Polly',
 'Along Came a Spider',
 'Along the Roadside',
 'Alpha and Omega',
 'Alpha and Omega: The Legend of the Saw Tooth Cave',
 'Alvin and the Chipmunks',
 'Alvin and the Chipmunks: Chipwrecked',
 'Alvin and the Chipmunks: The Road Chip',
 'Alvin and the Chipmunks: The Squeakquel',
 'Amadeus',
 'Amen.',
 'America Is Still the Place',
 "America's Sweethearts",
 'American Beast',
 'American Beauty',
 'American Desi',
 'American Dreamz',
 'American Gangster',
 'American Graffiti',
 'American Heist',
 'American Hero',
 'American History X',
 'American Hustle',
 'American Ninja 2: The Confrontation',
 'American Outlaws',
 'American Pie',
 'American Pie 2',
 'American Psycho',
 'American Reunion',
 'American Sniper',
 'American Splendor',
 'American Wedding',
 "Amidst the Devil's Wings",
 'Amigo',
 'Amistad',
 'Amnesiac',
 'Among Giants',
 'Amores perros',
 'Amour',
 'Amélie',
 'An Alan Smithee Film: Burn, Hollywood, Burn',
 'An American Carol',
 'An American Haunting',
 'An American in Hollywood',
 'An Education',
 'An Everlasting Piece',
 'An Ideal Husband',
 'An Inconvenient Truth',
 'An Unfinished Life',
 'Anaconda',
 'Anacondas: The Hunt for the Blood Orchid',
 'Analyze That',
 'Analyze This',
 'Anastasia',
 'Anatomy',
 'Anchorman 2: The Legend Continues',
 'Anchorman: The Legend of Ron Burgundy',
 'And So It Goes',
 'And Then Came Love',
 "Anderson's Cross",
 'Angel Eyes',
 "Angela's Ashes",
 'Angels & Demons',
 'Animal House',
 'Animals',
 'Animals United',
 'Anna Karenina',
 'Anna and the King',
 'Annabelle',
 'Anne of Green Gables',
 'Annie',
 'Annie Get Your Gun',
 'Annie Hall',
 'Anomalisa',
 'Anonymous',
 'Another Earth',
 'Another Happy Day',
 'Another Year',
 'Ant-Man',
 'Antarctic Edge: 70° South',
 'Antarctica: A Year on Ice',
 'Antibirth',
 'Antitrust',
 'Antiviral',
 'Antwone Fisher',
 'Antz',
 'Any Given Sunday',
 'Anything Else',
 'Anywhere But Here',
 'Apocalypse Now',
 'Apocalypto',
 'Apollo 13',
 'Apollo 18',
 'Appaloosa',
 "April Fool's Day",
 'Aqua Teen Hunger Force Colon Movie Film for Theaters',
 'Aquamarine',
 'Arachnophobia',
 'Ararat',
 'Arbitrage',
 'Archaeology of a Woman',
 'Are We There Yet?',
 'Area 51',
 'Argo',
 'Arlington Road',
 'Armageddon',
 'Armored',
 'Army of Darkness',
 'Arn: The Knight Templar',
 'Around the World in 80 Days',
 'Aroused',
 'Arthur Christmas',
 'Arthur and the Invisibles',
 'As Above, So Below',
 'As Good as It Gets',
 'As It Is in Heaven',
 'Ask Me Anything',
 'Assassins',
 'Assault on Precinct 13',
 'Asterix at the Olympic Games',
 'Astro Boy',
 'At First Sight',
 'Atlantis: The Lost Empire',
 'Atlas Shrugged Part II',
 'Atlas Shrugged Part III: Who is John Galt?',
 'Atonement',
 'Attack the Block',
 'August',
 'August Rush',
 'August: Osage County',
 'Austin Powers in Goldmember',
 'Austin Powers: International Man of Mystery',
 'Austin Powers: The Spy Who Shagged Me',
 'Australia',
 'Auto Focus',
 'Automata',
 'Autumn in New York',
 'Avatar',
 'Avengers: Age of Ultron',
 'Awake',
 'Away We Go',
 'Ayurveda: Art of Being',
 'B-Girl',
 'Baahubali: The Beginning',
 'Babe',
 'Babe: Pig in the City',
 'Babel',
 'Baby Boy',
 'Baby Geniuses',
 'Baby Mama',
 "Baby's Day Out",
 'Babylon A.D.',
 'Bachelorette',
 'Back to the Future',
 'Back to the Future Part II',
 'Back to the Future Part III',
 'Backmask',
 'Bad Boys',
 'Bad Boys II',
 'Bad Company',
 'Bad Grandpa',
 'Bad Moms',
 'Bad Santa',
 'Bad Teacher',
 'Bad Words',
 'Baggage Claim',
 'Baghead',
 'Bait',
 'Ballistic: Ecks vs. Sever',
 'Bambi',
 'Bamboozled',
 'Bananas',
 'Bandidas',
 'Bandits',
 'Bandslam',
 'Bang',
 'Bang Bang Baby',
 'Bangkok Dangerous',
 'Banshee Chapter',
 'Barbarella',
 'Barbecue',
 'Barbershop',
 'Barbershop 2:  Back in Business',
 "Barney's Great Adventure",
 "Barney's Version",
 'Barnyard',
 'Barry Lyndon',
 'Barry Munday',
 'Basic',
 'Basic Instinct 2',
 'Basquiat',
 'Bathing Beauty',
 'Bathory: Countess of Blood',
 'Batman',
 'Batman',
 'Batman & Robin',
 'Batman Begins',
 'Batman Forever',
 'Batman Returns',
 'Batman v Superman: Dawn of Justice',
 'Batman: The Dark Knight Returns, Part 2',
 'Bats',
 'Battle for the Planet of the Apes',
 'Battle of the Year',
 'Battle: Los Angeles',
 'Battlefield Earth',
 'Battleship',
 'Be Cool',
 'Be Kind Rewind',
 'Beastly',
 'Beastmaster 2: Through the Portal of Time',
 'Beasts of the Southern Wild',
 'Beat the World',
 'Beautiful Creatures',
 'Beauty Shop',
 'Beavis and Butt-Head Do America',
 'Because I Said So',
 'Because of Winn-Dixie',
 'Becoming Jane',
 'Bedazzled',
 'Bedtime Stories',
 'Bee Movie',
 'Beer League',
 'Beerfest',
 'Beetlejuice',
 'Before I Go to Sleep',
 'Before Midnight',
 'Before Sunrise',
 'Before Sunset',
 'Begin Again',
 'Beginners',
 'Behind Enemy Lines',
 'Being John Malkovich',
 'Being Julia',
 'Bella',
 'Beloved',
 'Below Zero',
 'Ben-Hur',
 'Bend It Like Beckham',
 'Bending Steel',
 'Beneath Hill 60',
 'Beneath the Planet of the Apes',
 'Benji',
 'Beowulf',
 'Bernie',
 'Best in Show',
 'Better Luck Tomorrow',
 'Betty Fisher and Other Stories',
 'Beverly Hills Chihuahua',
 'Beverly Hills Cop',
 'Beverly Hills Cop II',
 'Beverly Hills Cop III',
 'Beyond Borders',
 'Beyond the Black Rainbow',
 'Beyond the Lights',
 'Beyond the Mat',
 'Beyond the Sea',
 'Beyond the Valley of the Dolls',
 'Bicentennial Man',
 'Big',
 'Big Daddy',
 'Big Eyes',
 'Big Fat Liar',
 'Big Fish',
 'Big Hero 6',
 'Big Miracle',
 "Big Momma's House",
 "Big Momma's House 2",
 'Big Mommas: Like Father, Like Son',
 'Big Trouble',
 'Big Trouble in Little China',
 "Bill & Ted's Bogus Journey",
 "Bill & Ted's Excellent Adventure",
 'Billy Elliot',
 'Birdman',
 'Birth',
 'Birthday Girl',
 'Biutiful',
 'Bizarre',
 'Black Book',
 'Black Christmas',
 'Black Hawk Down',
 'Black Knight',
 'Black Mass',
 'Black Nativity',
 'Black November',
 'Black Rain',
 'Black Rock',
 'Black Snake Moan',
 'Black Swan',
 'Black Water Transit',
 'Black or White',
 'Blackhat',
 'Blackthorn',
 'Blade',
 'Blade II',
 'Blade Runner',
 'Blade: Trinity',
 'Blades of Glory',
 'Blast from the Past',
 'Blazing Saddles',
 'Bled',
 'Bleeding Hearts',
 'Blended',
 'Bless the Child',
 'Blindness',
 'Blonde Ambition',
 'Blood Diamond',
 'Blood Done Sign My Name',
 'Blood Ties',
 'Blood Work',
 'Blood and Chocolate',
 'Blood and Wine',
 'BloodRayne',
 'Bloodsport',
 'Bloody Sunday',
 'Blow',
 'Blow Out',
 'Blue Car',
 'Blue Crush',
 'Blue Jasmine',
 'Blue Like Jazz',
 'Blue Ruin',
 'Blue Streak',
 'Blue Valentine',
 'Boat Trip',
 'Bobby',
 'Bobby Jones: Stroke of Genius',
 'Body Double',
 'Body of Lies',
 'Bodyguards and Assassins',
 'Bogus',
 'Boiler Room',
 'Bolt',
 'Bon Cop Bad Cop',
 'Bon voyage',
 'Boogeyman',
 'Boogie Nights',
 'Book of Shadows: Blair Witch 2',
 'Boom Town',
 'Boomerang',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
 'Born Of War',
 'Born on the Fourth of July',
 'Born to Fly: Elizabeth Streb vs. Gravity',
 'Bottle Rocket',
 'Bottle Shock',
 'Bound',
 'Bound by Honor',
 'Bowfinger',
 'Bowling for Columbine',
 'Boyhood',
 'Boynton Beach Club',
 "Boys Don't Cry",
 'Boys and Girls',
 'Boyz n the Hood',
 'Bran Nue Dae',
 'Brave',
 'Brave New Girl',
 'Braveheart',
 'Brazil',
 'Breakdown',
 'Breakfast of Champions',
 "Breakin' All the Rules",
 'Breaking Upwards',
 'Brick Lane',
 'Brick Mansions',
 'Bride & Prejudice',
 'Bride Wars',
 'Bride of Chucky',
 'Bridesmaids',
 'Bridge of Spies',
 'Bridge to Terabithia',
 "Bridget Jones's Diary",
 'Bridget Jones: The Edge of Reason',
 'Brigham City',
 'Bright Lights, Big City',
 'Bright Star',
 'Brighton Rock',
 'Bring It On',
 'Bringing Down the House',
 'Bringing Out the Dead',
 'Brokeback Mountain',
 'Brokedown Palace',
 'Broken Arrow',
 'Broken City',
 'Broken Horses',
 'Broken Vessels',
 'Bronson',
 'Brooklyn',
 'Brooklyn Rules',
 "Brooklyn's Finest",
 'Brother',
 'Brotherly Love',
 'Brothers',
 'Brown Sugar',
 'Bruce Almighty',
 'Brüno',
 'Bubba Ho-tep',
 'Bubble Boy',
 'Bucky Larson: Born to Be a Star',
 "Buffalo '66",
 'Buffalo Soldiers',
 'Bullet to the Head',
 'Bulletproof Monk',
 'Bullets Over Broadway',
 'Bully',
 'Bulworth',
 'Buried',
 'Burlesque',
 'Burn',
 'Burn After Reading',
 'Burnt',
 "But I'm a Cheerleader",
 'Butch Cassidy and the Sundance Kid',
 'Butterfly',
 'Butterfly Girl',
 'Butterfly on a Wheel',
 'By the Sea',
 'C.H.U.D.',
 'CJ7',
 'Ca$h',
 'Cabin Fever',
 'Caddyshack',
 'Cadillac Records',
 'Call + Response',
 'Camping Sauvage',
 "Can't Hardly Wait",
 "Can't Stop the Music",
 'Cape Fear',
 'Capitalism: A Love Story',
 'Capote',
 'Capricorn One',
 'Captain America: Civil War',
 'Captain America: The First Avenger',
 'Captain America: The Winter Soldier',
 "Captain Corelli's Mandolin",
 'Captain Phillips',
 'Captive',
 'Caramel',
 'Caravans',
 'Cargo',
 'Carlos',
 'Carnage',
 'Carousel of Revenge',
 'Carrie',
 'Carriers',
 'Cars',
 'Cars 2',
 'Casa De Mi Padre',
 'Casablanca',
 'Case 39',
 'Casino',
 'Casino Jack',
 'Casino Royale',
 'Casper',
 'Cast Away',
 'Cat People',
 'Cat on a Hot Tin Roof',
 'Catch Me If You Can',
 'Catch That Kid',
 'Catch a Fire',
 'Catch-22',
 'Cats & Dogs',
 'Cats & Dogs 2 : The Revenge of Kitty Galore',
 "Cats Don't Dance",
 'Catwoman',
 'Cavite',
 'Cecil B. Demented',
 'Cedar Rapids',
 'Celebrity',
 'Celeste & Jesse Forever',
 'Cellular',
 'Censored Voices',
 'Center Stage',
 'Central Intelligence',
 'Central Station',
 'Centurion',
 'Certifiably Jonathan',
 'Chain Letter',
 'Chain Reaction',
 'Chain of Command',
 'Chairman of the Board',
 'Changeling',
 'Changing Lanes',
 'Chappie',
 'Character',
 'Chariots of Fire',
 'Charlie Bartlett',
 'Charlie St. Cloud',
 "Charlie Wilson's War",
 'Charlie and the Chocolate Factory',
 "Charlie's Angels",
 "Charlie's Angels: Full Throttle",
 "Charlotte's Web",
 'Charly',
 'Chasing Amy',
 'Chasing Liberty',
 'Chasing Mavericks',
 'Chasing Papi',
 'Cheap Thrills',
 'Cheaper by the Dozen',
 'Cheaper by the Dozen 2',
 'Checkmate',
 'Cheri',
 'Chernobyl Diaries',
 'Chiamatemi Francesco - Il Papa della gente',
 'Chicago',
 'Chicago Overcoat',
 'Chicken Little',
 'Chicken Run',
 'Chicken Tikka Masala',
 'Child 44',
 "Child's Play",
 "Child's Play 2",
 'Childless',
 'Children of Heaven',
 'Children of Men',
 'Chill Factor',
 'Chloe',
 'Chocolat',
 'Chocolate: Deep Dark Secrets',
 'Choke',
 'Christmas Eve',
 'Christmas Mail',
 'Christmas with the Kranks',
 'Chronicle',
 'Chuck & Buck',
 'Cinco de Mayo: La Batalla',
 'Cinderella',
 'Cinderella Man',
 'Circle',
 'Circumstance',
 "Cirque du Freak: The Vampire's Assistant",
 'Cirque du Soleil: Worlds Away',
 'City By The Sea',
 'City Hall',
 'City Island',
 'City of Angels',
 'City of Ember',
 'City of Ghosts',
 'City of God',
 'City of Life and Death',
 'Civil Brand',
 'Clash of the Titans',
 'Class of 1984',
 'Clay Pigeons',
 'Clean',
 'Clear and Present Danger',
 'Cleopatra',
 'Clerks',
 'Clerks II',
 'Click',
 'Cliffhanger',
 'Clockstoppers',
 'Clockwatchers',
 'Close Encounters of the Third Kind',
 'Close Range',
 'Closer',
 'Closer to the Moon',
 'Cloud Atlas',
 'Cloudy with a Chance of Meatballs',
 'Cloudy with a Chance of Meatballs 2',
 'Cloverfield',
 'Club Dread',
 'Clueless',
 'Coach Carter',
 "Coal Miner's Daughter",
 'Coco Before Chanel',
 'Code 46',
 'Code Name: The Cleaner',
 'Code of Honor',
 'Coffee Town',
 'Cold Mountain',
 'Collateral',
 'Collateral Damage',
 'College',
 'Colombiana',
 'Come Early Morning',
 'Coming Home',
 'Commando',
 'Compadres',
 'Compliance',
 'Con Air',
 'Conan the Barbarian',
 'Conan the Destroyer',
 'Concussion',
 'Confessions of a Dangerous Mind',
 'Confessions of a Teenage Drama Queen',
 'Confidence',
 'Congo',
 'Connie and Carla',
 'Conquest of the Planet of the Apes',
 'Conspiracy Theory',
 'Contact',
 'Contagion',
 'Containment',
 'Contraband',
 'Control',
 'Conversations with Other Women',
 'Cool Runnings',
 'Cop Land',
 'Cop Out',
 'Copycat',
 'Copying Beethoven',
 'Coraline',
 'Coriolanus',
 'Corky Romano',
 'Corpse Bride',
 'Cotton Comes to Harlem',
 'Counting',
 'Country Strong',
 'Couples Retreat',
 'Courage Under Fire',
 'Courageous',
 'Coyote Ugly',
 'Cradle 2 the Grave',
 'Cradle Will Rock',
 'Crank',
 'Crank: High Voltage',
 'Crash',
 'Crazy Heart',
 'Crazy Stone',
 'Crazy in Alabama',
 'Crazy, Stupid, Love.',
 'Crazy/Beautiful',
 'Creative Control',
 'Creature',
 'Creed',
 'Creepshow',
 'Creepshow 2',
 'Cries and Whispers',
 'Criminal',
 'Criminal Activities',
 'Crimson Tide',
 'Critical Care',
 'Crocodile Dundee',
 'Crocodile Dundee II',
 'Crocodile Dundee in Los Angeles',
 'Crooklyn',
 'Crossover',
 'Crossroads',
 'Crouching Tiger, Hidden Dragon',
 'Crowsnest',
 'Cruel Intentions',
 'Cry Freedom',
 'Cry_Wolf',
 'Crying with Laughter',
 'Cube',
 'Cure',
 'Curious George',
 'Curse of the Golden Flower',
 'Cursed',
 'Cutthroat Island',
 'Cypher',
 'Cyrus',
 'D-Tox',
 'D.E.B.S.',
 'DOA: Dead or Alive',
 'Da Sweet Blood of Jesus',
 'Daddy Day Camp',
 'Daddy Day Care',
 "Daddy's Home",
 'Dallas Buyers Club',
 'Damnation Alley',
 'Damsels in Distress',
 'Dance Flick',
 'Dancer in the Dark',
 'Dancer, Texas Pop. 81',
 'Dances with Wolves',
 "Dancin' It's On",
 'Dangerous Liaisons',
 'Danny Collins',
 "Dante's Peak",
 'Dark Blue',
 'Dark City',
 'Dark Shadows',
 'Dark Water',
 'Darkness',
 'Darkness Falls',
 'Darling Companion',
 'Darling Lili',
 'Das Boot',
 'Date Movie',
 'Date Night',
 "Dave Chappelle's Block Party",
 'Dawn of the Crescent Moon',
 'Dawn of the Dead',
 'Dawn of the Planet of the Apes',
 'Day of the Dead',
 'Daybreakers',
 'Daylight',
 'Days of Heaven',
 'Days of Thunder',
 'Dazed and Confused',
 'De-Lovely',
 'Dead Like Me: Life After Death',
 'Dead Man Down',
 'Dead Man Walking',
 'Dead Man on Campus',
 "Dead Man's Shoes",
 'Dead Poets Society',
 'Dead Snow',
 'Deadfall',
 'Deadline - U.S.A.',
 'Deadpool',
 'Dear Frankie',
 'Dear John',
 'Dear Wendy',
 'Death Becomes Her',
 'Death Calls',
 'Death Race',
 'Death Race 2000',
 'Death Sentence',
 'Death at a Funeral',
 'Death to Smoochy',
 'Deceptive Practice: The Mysteries and Mentors of Ricky Jay',
 'Deck the Halls',
 'Deconstructing Harry',
 'Decoys',
 'Deep Blue Sea',
 'Deep Impact',
 'Deep Rising',
 "Def Jam's How to Be a Player",
 'Def-Con 4',
 'Defendor',
 'Definitely, Maybe',
 'Delgo',
 'Deliver Us from Evil',
 'Delivery Man',
 'Demonic',
 'Departure',
 'Derailed',
 'Desert Blue',
 'Desert Dancer',
 'Desire',
 'Desperado',
 'Despicable Me',
 'Despicable Me 2',
 'Detention',
 'Detention of the Dead',
 'Deterrence',
 'Detroit Rock City',
 'Deuce Bigalow: European Gigolo',
 'Deuce Bigalow: Male Gigolo',
 'Deuces Wild',
 'Devil',
 "Devil's Due",
 'Diamond Ruff',
 'Diamonds Are Forever',
 'Diary of a Mad Black Woman',
 'Diary of a Wimpy Kid',
 'Diary of a Wimpy Kid: Dog Days',
 'Diary of a Wimpy Kid: Rodrick Rules',
 'Diary of the Dead',
 'Dick',
 'Dick Tracy',
 'Dickie Roberts: Former Child Star',
 ...]

In [11]:
sorted(google)

NameError: name 'google' is not defined

In [12]:
list(imdb)

['movie_id', 'title', 'cast', 'crew']

In [14]:
player.values

array([[1, 'SC Ganguly', '8-Jul-72', ..., 'India', 0, nan],
       [2, 'BB McCullum', '27-Sep-81', ..., 'New Zealand', 0, nan],
       [3, 'RT Ponting', '19-Dec-74', ..., 'Australia', 0, nan],
       ...,
       [521, 'VK Sharma', nan, ..., 'India', 1, nan],
       [523, 'AV Wankhade', '14-Mar-92', ..., 'India', 0, nan],
       [524, 'B Aparajith', '8-Jul-94', ..., 'India', 0, nan]],
      dtype=object)

In [15]:
player.index

RangeIndex(start=0, stop=523, step=1)

In [16]:
player.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [17]:
player.is_unique

AttributeError: 'DataFrame' object has no attribute 'is_unique'

In [18]:
a=pd.read_csv("../Downloads/Player.csv",usecols=["Country"],squeeze=True)

In [19]:
a.dtype

dtype('O')

In [20]:
a.is_unique

False

In [22]:
imdb.ndim

2

In [23]:
imdb.shape

(4803, 4)

In [42]:
b.value_counts()
b.count()

523

In [44]:
b.value_counts(normalize=True)*b.count()

India           291.0
Australia        78.0
South Africa     44.0
New Zealand      26.0
Sri Lanka        22.0
West Indies      20.0
England          18.0
Pakistan         15.0
Bangladesh        5.0
Zimbabwea         3.0
Netherlands       1.0
Name: Country, dtype: float64

In [45]:
def evod(num):
    if num%2==0:
        return "even"
    else:
        return "odd"

In [50]:
a.apply(evod)

0       odd
1      even
2       odd
3      even
4       odd
5      even
6       odd
7      even
8       odd
9      even
10      odd
11     even
12      odd
13     even
14      odd
15     even
16      odd
17     even
18      odd
19     even
20      odd
21     even
22      odd
23     even
24      odd
25     even
26      odd
27     even
28      odd
29     even
       ...
493    even
494     odd
495    even
496     odd
497    even
498     odd
499    even
500     odd
501    even
502     odd
503    even
504     odd
505    even
506     odd
507    even
508     odd
509    even
510     odd
511    even
512     odd
513    even
514     odd
515    even
516     odd
517    even
518     odd
519    even
520     odd
521     odd
522    even
Name: Player_Id, Length: 523, dtype: object

In [82]:
player.head(3)
player_name=pd.read_csv("../Downloads/Player.csv",usecols=['Player_Name'],squeeze=True)

In [68]:
player.h

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN

In [72]:
Player_country=pd.read_csv("../Downloads/Player.csv",index_col='Player_Name',usecols=['Country'],squeeze=True)

ValueError: Index Player_Name invalid

In [84]:
x=Player_country.Country
x.head(3)
player_name.head(3)

0     SC Ganguly
1    BB McCullum
2     RT Ponting
Name: Player_Name, dtype: object

In [85]:
player_name.map(x)

0             India
1       New Zealand
2         Australia
3         Australia
4          Pakistan
5             India
6             India
7             India
8      South Africa
9         Australia
10     South Africa
11            India
12        Australia
13            India
14            India
15            India
16            India
17        Australia
18        Australia
19            India
20            India
21      New Zealand
22            India
23            India
24        Australia
25        Sri Lanka
26            India
27        Australia
28            India
29            India
           ...
493    South Africa
494           India
495           India
496       Australia
497           India
498           India
499         England
500         England
501           India
502           India
503       Australia
504     New Zealand
505           India
506           India
507           India
508           India
509           India
510           India
511           India
512       Zimbabwea
513           India
514           India
515       Sri Lanka
516     New Zealand
517       Australia
518           India
519           India
520           India
521           India
522           India
Name: Player_Name, Length: 523, dtype: object